data/flows.json
[{"id":"db3a3aeb.79db88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fe084d9b.cd06c","type":"tab","label":"Modbus mqtt dash","disabled":false,"info":""},{"id":"66115486.e0514c","type":"OpcUa-Endpoint","endpoint":"opc.tcp://172.19.0.1:4840","secpol":"None","secmode":"None","login":false},{"id":"2cca0b6a.79f2b4","type":"ui_group","name":"Default","tab":"da3768f.e274898","order":1,"disp":true,"width":9,"collapse":false},{"id":"da3768f.e274898","type":"ui_tab","name":"OPC browser","icon":"dashboard","disabled":false,"hidden":false},{"id":"c39505c6.353c18","type":"ui_group","name":"Read","tab":"c9a91135.0504","order":1,"disp":true,"width":"9","collapse":false},{"id":"f79ac873.621d58","type":"mqtt-broker","name":"aedes","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"a388d92f.6a9468","type":"ui_group","name":"Write","tab":"c9a91135.0504","order":2,"disp":true,"width":"9","collapse":false},{"id":"63df4b80.c91934","type":"modbus-client","name":"local","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":false,"tcpHost":"172.19.0.1","tcpPort":"5020","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"301125d8.94315a","type":"ui_group","name":"Read Result","tab":"c9a91135.0504","order":3,"disp":true,"width":"9","collapse":false},{"id":"c9a91135.0504","type":"ui_tab","name":"Modbus","icon":"dashboard","disabled":false,"hidden":false},{"id":"a01adeb3.a5129","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ecae7d0a.4e5e7","type":"comment","z":"db3a3aeb.79db88","name":"WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work","info":"\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.","x":350,"y":80,"wires":[]},{"id":"13d3ecbf.bafed3","type":"OpcUa-Browser","z":"db3a3aeb.79db88","endpoint":"66115486.e0514c","item":"","datatype":"","topic":"ns=0;s=85/0:Simulation","items":[],"x":150,"y":260,"wires":[["9264fa7e.cbf6d8","a629232e.ca842"]]},{"id":"60677f3e.d4bae","type":"OpcUa-Client","z":"db3a3aeb.79db88","endpoint":"66115486.e0514c","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":460,"y":340,"wires":[["ff1043.9c5fdfc"]]},{"id":"dce0ed5e.cbad4","type":"change","z":"db3a3aeb.79db88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"actiontype\":\"browse\",\"root\":payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":180,"wires":[["f0728012.4368c"]]},{"id":"fd514283.afcbe","type":"ui_button","z":"db3a3aeb.79db88","name":"","group":"2cca0b6a.79f2b4","order":2,"width":2,"height":1,"passthru":false,"label":"Root","tooltip":"","color":"","bgcolor":"","icon":"arrow_upwards","payload":"{\"actiontype\":\"browse\"}","payloadType":"json","topic":"","x":90,"y":340,"wires":[["13d3ecbf.bafed3"]]},{"id":"ff1043.9c5fdfc","type":"ui_text","z":"db3a3aeb.79db88","group":"2cca0b6a.79f2b4","order":3,"width":7,"height":1,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":340,"wires":[]},{"id":"c6446a78.0e4858","type":"change","z":"db3a3aeb.79db88","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.item.nodeId","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":340,"wires":[["60677f3e.d4bae"]]},{"id":"6b0feb5b.fed414","type":"join","z":"db3a3aeb.79db88","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":450,"y":260,"wires":[["81fecdc8.4f0e6"]]},{"id":"9264fa7e.cbf6d8","type":"split","z":"db3a3aeb.79db88","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":260,"wires":[["6b0feb5b.fed414"]]},{"id":"f0728012.4368c","type":"trigger","z":"db3a3aeb.79db88","name":"","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"-2","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":480,"y":180,"wires":[["13d3ecbf.bafed3"]]},{"id":"81fecdc8.4f0e6","type":"ui_table","z":"db3a3aeb.79db88","group":"2cca0b6a.79f2b4","name":"","order":1,"width":9,"height":8,"columns":[{"field":"item.nodeId","title":"Node ID","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"item.displayName.text","title":"Display name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"item.dataType","title":"Data Type","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"item.value","title":"Value","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":590,"y":260,"wires":[["dce0ed5e.cbad4","c6446a78.0e4858"]]},{"id":"dd8a0b58.2f72c8","type":"debug","z":"fe084d9b.cd06c","name":"received","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":440,"y":860,"wires":[]},{"id":"8261b5bc.a85898","type":"function","z":"fe084d9b.cd06c","name":"","func":"\nvar fc=msg.payload.fc;\nvar sa=msg.payload.sa;\nvar addresses=msg.payload.addresses;\nvar slave_ip=msg.payload.slave_ip;\nvar payload={ 'fc': fc, 'unitid': 1, 'address': sa , 'port': 5020 , 'quantity': addresses };\nmsg.payload=JSON.stringify(payload);\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":160,"wires":[["e1ec11a8.94d73","a3230063.a445"]]},{"id":"10e1489f.04d207","type":"function","z":"fe084d9b.cd06c","name":"write mqtt","func":"var fc=msg.payload.fc;\nvar sa=msg.payload.sa;\nvar addresses=msg.payload.addresses;\nvar value=msg.payload.value;\nvar values=msg.payload.values;\nvar slave_ip=msg.payload.slave_ip;\nif (fc==16 || fc==15){\n     value=JSON.parse(msg.payload.values);\n    node.log(value);\n}\npayload={\"value\":value , 'fc': fc, 'unitid': 1, 'address': sa , 'port': 5020 , 'quantity': addresses };\n\nmsg.payload=JSON.stringify(payload);\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":580,"wires":[["6951b150.c7ca1"]]},{"id":"a3230063.a445","type":"debug","z":"fe084d9b.cd06c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":240,"wires":[]},{"id":"68d391b6.ba2d7","type":"ui_form","z":"fe084d9b.cd06c","name":"","label":"Read MQTT fc=Codes 1(S_Coil),2,(D_In),3(Holding_R),4(IN_reg)","group":"c39505c6.353c18","order":3,"width":"9","height":"1","options":[{"label":"Function Code","value":"fc","type":"number","required":true,"rows":null},{"label":"Slave_ip","value":"slave_ip","type":"text","required":false,"rows":null},{"label":"start address","value":"sa","type":"number","required":true,"rows":null},{"label":"number to read","value":"addresses","type":"number","required":true,"rows":null}],"formValue":{"fc":"","slave_ip":"","sa":"","addresses":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":240,"y":40,"wires":[["8261b5bc.a85898"]]},{"id":"6d80bf4d.73163","type":"function","z":"fe084d9b.cd06c","name":"","func":"node.log(\"payload \"+msg.payload);\ndata=msg.payload[0]*65535 +msg.payload[1];\nnode.log(\"payload \"+data);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":160,"wires":[["a3230063.a445"]]},{"id":"2f89a256.85928e","type":"inject","z":"fe084d9b.cd06c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":140,"wires":[["1a5ec8b1.958a77"]]},{"id":"1a5ec8b1.958a77","type":"function","z":"fe084d9b.cd06c","name":"","func":"var fc=3;\nvar sa=0;\nvar addresses=20;\nvar slave_ip=\"192.168.0.23\";\nmsg.payload={value: msg.payload, 'fc': fc, 'unitid': 1, 'address': sa , 'port': 5020 , 'quantity': addresses };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":160,"wires":[["8261b5bc.a85898"]]},{"id":"e1ec11a8.94d73","type":"mqtt out","z":"fe084d9b.cd06c","name":"","topic":"modbus/commands/read","qos":"","retain":"","broker":"f79ac873.621d58","x":830,"y":100,"wires":[]},{"id":"20a54db7.0f2d42","type":"mqtt in","z":"fe084d9b.cd06c","name":"","topic":"modbus/response/#","qos":"0","datatype":"json","broker":"f79ac873.621d58","x":150,"y":240,"wires":[["cdb00b08.bbf608","3ec6694c.ace386","fd73816.9128f8"]]},{"id":"6951b150.c7ca1","type":"mqtt out","z":"fe084d9b.cd06c","name":"","topic":"modbus/commands/write","qos":"","retain":"","broker":"f79ac873.621d58","x":530,"y":660,"wires":[]},{"id":"cdb00b08.bbf608","type":"switch","z":"fe084d9b.cd06c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"modbus/response/read","vt":"str"},{"t":"eq","v":"modbus/response/write","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":300,"wires":[[],[]]},{"id":"bd7715f.615b0e8","type":"ui_text","z":"fe084d9b.cd06c","group":"a388d92f.6a9468","order":3,"width":"8","height":"1","name":"","label":"Result Write","format":"{{msg.write}}","layout":"col-center","x":650,"y":400,"wires":[]},{"id":"b60124e1.1679d8","type":"ui_form","z":"fe084d9b.cd06c","name":"","label":"Write MQTT Codes 5(SC),6(SR),15(MC),16(MR)","group":"a388d92f.6a9468","order":2,"width":"9","height":"1","options":[{"label":"Function Code","value":"fc","type":"number","required":true},{"label":"Slave_ip","value":"slave_ip","type":"text","required":false},{"label":"start address","value":"sa","type":"number","required":true},{"label":"number to write","value":"addresses","type":"number","required":true},{"label":"Value","value":"value","type":"number","required":false},{"label":"Values","value":"values","type":"text","required":false}],"formValue":{"fc":"","slave_ip":"","sa":"","addresses":"","value":"","values":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":500,"wires":[["10e1489f.04d207"]]},{"id":"2a51152f.e3eb8a","type":"mqtt in","z":"fe084d9b.cd06c","name":"","topic":"modbus/commands/read","qos":"0","datatype":"json","broker":"f79ac873.621d58","x":120,"y":940,"wires":[["dd8a0b58.2f72c8","a0f223ef.c7bf5"]]},{"id":"7d1745c3.115d0c","type":"mqtt out","z":"fe084d9b.cd06c","name":"","topic":"","qos":"0","retain":"","broker":"f79ac873.621d58","x":770,"y":1020,"wires":[]},{"id":"a0f223ef.c7bf5","type":"modbus-flex-getter","z":"fe084d9b.cd06c","name":"local getter","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"63df4b80.c91934","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":410,"y":980,"wires":[[],["3bc1d3cd.0df49c","7d2844ce.14483c"]]},{"id":"3bc1d3cd.0df49c","type":"debug","z":"fe084d9b.cd06c","name":"out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":900,"wires":[]},{"id":"3ec6694c.ace386","type":"debug","z":"fe084d9b.cd06c","name":"received","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":280,"y":420,"wires":[]},{"id":"fd73816.9128f8","type":"function","z":"fe084d9b.cd06c","name":"received function","func":"var topic=msg.topic;\nif(topic==\"modbus/response/read\")\nmsg.read=msg.payload.data;\nelse\nmsg.write=msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":360,"wires":[["bd7715f.615b0e8","b600fc78.3b7f8"]]},{"id":"89724f71.3c9af","type":"mqtt in","z":"fe084d9b.cd06c","name":"","topic":"modbus/commands/write","qos":"0","datatype":"json","broker":"f79ac873.621d58","x":110,"y":1100,"wires":[["dd8a0b58.2f72c8","9292be28.dc81b"]]},{"id":"9292be28.dc81b","type":"modbus-flex-write","z":"fe084d9b.cd06c","name":"","showStatusActivities":false,"showErrors":false,"server":"63df4b80.c91934","emptyMsgOnFail":false,"keepMsgProperties":false,"x":430,"y":1100,"wires":[[],["f0d03e3e.e495f"]]},{"id":"7d2844ce.14483c","type":"change","z":"fe084d9b.cd06c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"modbus/response/read","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1000,"wires":[["7d1745c3.115d0c"]]},{"id":"f0d03e3e.e495f","type":"change","z":"fe084d9b.cd06c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"modbus/response/write","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1060,"wires":[["7d1745c3.115d0c"]]},{"id":"b600fc78.3b7f8","type":"ui_text","z":"fe084d9b.cd06c","group":"301125d8.94315a","order":3,"width":"8","height":"1","name":"","label":"Result read","format":"{{msg.read}}","layout":"col-center","x":630,"y":340,"wires":[]},{"id":"33920eeb.524db2","type":"aedes broker","z":"fe084d9b.cd06c","name":"","mqtt_port":1883,"mqtt_ws_port":null,"cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":870,"y":340,"wires":[[]]},{"id":"a629232e.ca842","type":"debug","z":"db3a3aeb.79db88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":220,"y":400,"wires":[]},{"id":"e2562eee.1f584","type":"exec","z":"db3a3aeb.79db88","command":"pwd","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":770,"y":100,"wires":[["2188af8a.207bf"],["2188af8a.207bf"],[]]},{"id":"6a74f7ff.a81338","type":"inject","z":"db3a3aeb.79db88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":760,"y":40,"wires":[["e2562eee.1f584"]]},{"id":"2188af8a.207bf","type":"debug","z":"db3a3aeb.79db88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":120,"wires":[]},{"id":"f4a7bf68.4bb2f","type":"exec","z":"db3a3aeb.79db88","command":"ipconfig","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ipconfig","x":280,"y":520,"wires":[["a3770ba3.f0df88"],[],[]]},{"id":"4938ce95.aae0e","type":"inject","z":"db3a3aeb.79db88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"ip","payload":"true","payloadType":"bool","x":135.00000381469727,"y":519.5000019073486,"wires":[["f4a7bf68.4bb2f"]]},{"id":"a3770ba3.f0df88","type":"function","z":"db3a3aeb.79db88","name":"Extract network config","func":"var input, tokens, IP;\nvar outString = \"Node-Red IP Address\\n\";\n\ninput = msg.payload;\ntokens = input.split(\"IPv4\", 5);\ntokens = tokens[1].split(\":\", 5);\ntokens = tokens[1].split(\"  \", 5);\nIP = tokens[0].trim();\n\noutString = outString + IP;\n\nreturn {payload: outString};\n\n\n\n\n","outputs":"1","noerr":0,"x":204.00006103515625,"y":597.0000171661377,"wires":[["ddbc079.5f992f8"]]},{"id":"4659e651.7f6f48","type":"debug","z":"db3a3aeb.79db88","name":"","active":true,"console":"false","complete":"false","x":379.700008392334,"y":625.0000114440918,"wires":[]},{"id":"1b57a8f0.b87867","type":"exec","z":"db3a3aeb.79db88","command":"ifconfig","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ifconfig","x":300.0000190734863,"y":809.0000162124634,"wires":[["e26dcada.afaed8"],[],[]]},{"id":"251aa90f.663af6","type":"inject","z":"db3a3aeb.79db88","name":"get ip - eth0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"Node-Red IP Address","payload":"eth0","payloadType":"str","x":148.00001907348633,"y":808.5000162124634,"wires":[["1b57a8f0.b87867"]]},{"id":"6c853446.2fa74c","type":"debug","z":"db3a3aeb.79db88","name":"test out","active":true,"tosidebar":true,"console":false,"complete":"payload","statusVal":"","statusType":"auto","x":357.0000190734863,"y":935.5000162124634,"wires":[]},{"id":"e26dcada.afaed8","type":"function","z":"db3a3aeb.79db88","name":"Extract network config","func":"// Initialize variables\nvar input, tokens, inet, bcast, mask;\nvar outString = \"TestRasPi network config for eth0\\n\";\n\n// Parse the entire string by spaces, and put each item into an array called tokens\n\ninput = msg.payload;\ntokens = input.split(\":\", 10);\n\n// Get the 7th token (example: \"addr:192.168.0.120\")\n// and get the substring from character 6 to the end\ninet = tokens[7].split(\" \", 1);\noutString += \"\\n\" + \"inet addr: \" + inet[0];\n\n// Get the 8th token (example: \"Bcast:192.168.0.255\")\n// and get the substring from character 7 to the end\nbcast = tokens[8].split(\" \", 1);\noutString += \"\\n\" + \"Bcast: \" + bcast[0];\n\n// Get the 9th token (example: \"Mask:255.255.255.0\")\n// and get the substring from character 6 to the end\nmask = tokens[9].split(\" \", 1);\noutString += \"\\n\" + \"Mask: \" + mask[0];\n\n// Don't send a message if the IF is the known default. Change to default ip.\nif (inet==\"192.168.0.120\") { \n//outString = \"\"; // set output to null if ip is the same so no message is sent\nreturn null;\n}else{\n// return the final output\nreturn {payload: outString};\n}\n","outputs":1,"noerr":0,"x":196.0000343322754,"y":884.0000276565552,"wires":[["65917828.802778"]]},{"id":"65917828.802778","type":"delay","z":"db3a3aeb.79db88","name":"Delay","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":183.00001907348633,"y":948.0000162124634,"wires":[["6c853446.2fa74c"]]},{"id":"ddbc079.5f992f8","type":"delay","z":"db3a3aeb.79db88","name":"Delay","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":197.00005340576172,"y":653.0000123977661,"wires":[["4659e651.7f6f48"]]},{"id":"765f2cd3.1bb164","type":"comment","z":"db3a3aeb.79db88","name":"Windows example","info":"","x":164.69999313354492,"y":469.9999942779541,"wires":[]},{"id":"de08137b.6b5ad","type":"comment","z":"db3a3aeb.79db88","name":"Raspberry / Linux Example","info":"","x":165.99999618530273,"y":766.0000019073486,"wires":[]}]