data/flows.json
[{"id":"532ca053.60cb3","type":"tab","label":"Home","disabled":false,"info":""},{"id":"e8d72bfd.3d5578","type":"tab","label":"CSEM test","disabled":false,"info":""},{"id":"d138efdf.34a1c","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"5f633a28.607134","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"c93792ae.b6f79","type":"tab","label":"OPC UA","disabled":false,"info":""},{"id":"8b0df6c7.7c7758","type":"tab","label":"Modbus TCP/IP","disabled":false,"info":""},{"id":"d9626aca.91e21","type":"tab","label":"Modbus mqtt dash","disabled":false,"info":""},{"id":"b2d8887b.fa344","type":"tab","label":"Process manager","disabled":true,"info":""},{"id":"4855bb7e.cef384","type":"tab","label":"Grafana","disabled":true,"info":""},{"id":"e913fad1.261668","type":"tab","label":"InfluxDB","disabled":true,"info":""},{"id":"5fb6bbca.6adb44","type":"tab","label":"MongoDB","disabled":true,"info":""},{"id":"fd655cf3.9ea96","type":"tab","label":"OPC UA","disabled":true,"info":""},{"id":"5f6b31bb.fb06a","type":"tab","label":"Modbus -video Flow 1","disabled":false,"info":""},{"id":"a64a1dda.46493","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c68fea7e.3c4a48","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9f79c24d.7af8d","type":"ui_spacer","name":"spacer","group":"e928078d.0bbb78","order":4,"width":1,"height":1},{"id":"7623bae6.f58e54","type":"ui_spacer","name":"spacer","group":"e928078d.0bbb78","order":6,"width":1,"height":1},{"id":"7c79cab3.ad2254","type":"ui_spacer","name":"spacer","group":"e928078d.0bbb78","order":4,"width":1,"height":1},{"id":"7c8b6801.a040b8","type":"ui_spacer","name":"spacer","group":"e928078d.0bbb78","order":6,"width":1,"height":1},{"id":"998e42c.12890c","type":"ui_tab","name":"My Grafana Test","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"81224c3.26bb2b","type":"ui_group","name":"Default","tab":"998e42c.12890c","order":1,"disp":true,"width":12,"collapse":false},{"id":"b8197973.6f5938","type":"influxdb","z":"4855bb7e.cef384","hostname":"localhost","port":"8086","protocol":"http","database":"db_name","name":"influx","usetls":false,"tls":""},{"id":"13dcf127.e3dd8f","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"6f035a17.dc8e24","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"mydb","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"","rejectUnauthorized":false},{"id":"f7d10f6f.7906d","type":"OpcUa-Endpoint","endpoint":"opc.tcp://192.168.1.211:4840","secpol":"None","secmode":"None","login":false},{"id":"fb4def7d.6655c","type":"ui_group","name":"Real-time Monitoring","tab":"df901977.5422d8","order":1,"disp":true,"width":"12","collapse":false},{"id":"2c8f1b5f.d2f494","type":"ui_group","name":"Control","tab":"df901977.5422d8","order":2,"disp":true,"width":"12","collapse":false},{"id":"7c5dd017.d2c34","type":"ui_group","name":"Dashboard","tab":"df901977.5422d8","order":3,"disp":true,"width":"12","collapse":false},{"id":"a63afe73.3adb","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"df901977.5422d8","type":"ui_tab","name":"Electrical Controller","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6d86540d.c631ac","type":"ui_tab","name":"OPC UA","icon":"fa-server","order":4,"disabled":false,"hidden":false},{"id":"ed90da37.9cbcc8","type":"ui_group","name":"Electrical Controller server","tab":"6d86540d.c631ac","order":1,"disp":true,"width":10,"collapse":false},{"id":"a4d195eb.433008","type":"ui_group","name":"Electrical Controller browser","tab":"6d86540d.c631ac","order":4,"disp":true,"width":10,"collapse":false},{"id":"5e8232d2.1bf57c","type":"ui_group","name":"OPC UA test","tab":"6d86540d.c631ac","order":3,"disp":true,"width":"6","collapse":false},{"id":"1872f8d8.cb4a97","type":"mqtt-broker","name":"","broker":"http://broker.mqttdashboard.com","port":"8000","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"346d997e.2ff0c6","type":"mongodb","hostname":"cluster0.ii09c.mongodb.net","topology":"dnscluster","connectOptions":"","port":"27017","db":"mydb","name":""},{"id":"73586c37.402194","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:57888","secpol":"None","secmode":"None","login":false},{"id":"12ac0f34.b7da41","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"telegraf","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"8d0da046.a7073","type":"ui_group","name":"Weather conditions","tab":"275364df.28464c","order":2,"disp":true,"width":"9","collapse":false},{"id":"275364df.28464c","type":"ui_tab","name":"Weather Forecast","icon":"wi-wu-partlysunny","order":7,"disabled":false,"hidden":false},{"id":"e9a03ca8.e060d","type":"ui_tab","name":"MQTT","icon":"wifi","order":3,"disabled":false,"hidden":false},{"id":"55ead730.2b9868","type":"ui_link","name":"HYBUILD website","link":"http://www.hybuild.eu/","icon":"open_in_browser","target":"iframe","order":8},{"id":"59e42317.d932fc","type":"ui_tab","name":"Home","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"608d6236.77a63c","type":"ui_group","name":"Building Energy Management System","tab":"59e42317.d932fc","order":2,"disp":true,"width":9,"collapse":false},{"id":"74512908.833a28","type":"ui_spacer","name":"spacer","group":"60f1978e.af8268","order":5,"width":7,"height":1},{"id":"dc6982a1.25a14","type":"ui_spacer","name":"spacer","group":"60f1978e.af8268","order":6,"width":7,"height":1},{"id":"918a2c73.d41dc","type":"ui_spacer","name":"spacer","group":"60f1978e.af8268","order":7,"width":7,"height":1},{"id":"1c8caf2a.e3fe11","type":"ui_group","name":"Select location","tab":"275364df.28464c","order":1,"disp":true,"width":"5","collapse":false},{"id":"e2f30e06.e38d","type":"ui_spacer","name":"spacer","group":"8d0da046.a7073","order":9,"width":3,"height":1},{"id":"e894a16c.938d1","type":"ui_spacer","name":"spacer","group":"8d0da046.a7073","order":10,"width":3,"height":1},{"id":"54e227ab.eaa128","type":"ui_spacer","name":"spacer","group":"df6aa7e9.19dc58","order":4,"width":2,"height":1},{"id":"5726f71c.77ad48","type":"ui_spacer","name":"spacer","group":"df6aa7e9.19dc58","order":5,"width":2,"height":1},{"id":"fc9bf5fe.c1ad78","type":"ui_spacer","name":"spacer","group":"df6aa7e9.19dc58","order":6,"width":2,"height":1},{"id":"a6fde61a.da6448","type":"ui_spacer","name":"spacer","group":"df6aa7e9.19dc58","order":7,"width":2,"height":1},{"id":"44ad683e.520018","type":"ui_spacer","name":"spacer","group":"df6aa7e9.19dc58","order":8,"width":2,"height":1},{"id":"c871f254.79a8a","type":"ui_spacer","name":"spacer","group":"df6aa7e9.19dc58","order":9,"width":2,"height":1},{"id":"c315f49f.cf3b58","type":"ui_spacer","name":"spacer","group":"df6aa7e9.19dc58","order":10,"width":2,"height":1},{"id":"349fca80.c2f296","type":"ui_spacer","name":"spacer","group":"df6aa7e9.19dc58","order":15,"width":2,"height":1},{"id":"f60533a5.4df23","type":"ui_spacer","name":"spacer","group":"fb4def7d.6655c","order":9,"width":4,"height":1},{"id":"ab57dbcd.6f2eb8","type":"ui_spacer","name":"spacer","group":"2c8f1b5f.d2f494","order":4,"width":1,"height":1},{"id":"95ff3f91.c5f3b","type":"ui_spacer","name":"spacer","group":"2c8f1b5f.d2f494","order":9,"width":1,"height":1},{"id":"e0f16dbc.d23bb","type":"ui_spacer","name":"spacer","group":"2c8f1b5f.d2f494","order":11,"width":1,"height":1},{"id":"4e0e8e76.b3bf3","type":"ui_spacer","name":"spacer","group":"2c8f1b5f.d2f494","order":13,"width":1,"height":1},{"id":"2dee2e04.7cf00a","type":"ui_group","name":"MQTT Broker","tab":"721af69.d130208","order":1,"disp":true,"width":8,"collapse":false},{"id":"721af69.d130208","type":"ui_tab","name":"Process Manager","icon":"apps","order":5,"disabled":false,"hidden":false},{"id":"c386966d.47a758","type":"ui_group","z":"d138efdf.34a1c","name":"MQTT Console","tab":"e9a03ca8.e060d","order":1,"disp":true,"width":12,"collapse":false},{"id":"b18f8cf4.3f5dd","type":"ui_group","name":"Telegraf","tab":"721af69.d130208","order":2,"disp":true,"width":8,"collapse":false},{"id":"d51a9639.3f7608","type":"ui_group","name":"InfluxDB","tab":"721af69.d130208","order":3,"disp":true,"width":8,"collapse":false},{"id":"2f456090.b65b8","type":"ui_group","name":"Thermal Controller browser","tab":"6d86540d.c631ac","order":5,"disp":true,"width":10,"collapse":false},{"id":"1442117d.db6a0f","type":"ui_group","name":"Thermal Controller server","tab":"6d86540d.c631ac","order":2,"disp":true,"width":10,"collapse":false},{"id":"535806eb.698088","type":"ui_group","name":"Default","tab":"3a1ee72f.560e58","order":1,"disp":true,"width":"6","collapse":false},{"id":"3a1ee72f.560e58","type":"ui_tab","name":"Settings","icon":"settings","order":6,"disabled":false,"hidden":false},{"id":"4962ffad.48e6f","type":"ui_group","name":"Master Controller scheduler","tab":"3a1ee72f.560e58","order":2,"disp":true,"width":"6","collapse":false},{"id":"19dad5af.6814ca","type":"ui_group","name":"Read","tab":"c6d493fc.df122","order":1,"disp":true,"width":"9","collapse":false},{"id":"3d43a51a.c133a2","type":"mqtt-broker","name":"mqtt.eclipse.org","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"b1e93ddb.38aa38","type":"ui_group","name":"Write","tab":"c6d493fc.df122","order":2,"disp":true,"width":"9","collapse":false},{"id":"54dde46e.53267c","type":"modbus-client","name":"PINK PLC?","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":false,"tcpHost":"192.168.1.213","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"f9918dcb.b9e1f8","type":"ui_group","name":"Read Result","tab":"c6d493fc.df122","order":3,"disp":true,"width":"9","collapse":false},{"id":"c6d493fc.df122","type":"ui_tab","name":"Modbus","icon":"dashboard","disabled":false,"hidden":false},{"id":"8c8f9e4a.f1e8d","type":"ui_spacer","name":"spacer","group":"608d6236.77a63c","order":4,"width":1,"height":1},{"id":"641444e0.8534dc","type":"ui_spacer","name":"spacer","group":"608d6236.77a63c","order":6,"width":1,"height":1},{"id":"bb494ea7.ea777","type":"ui_spacer","name":"spacer","group":"608d6236.77a63c","order":13,"width":3,"height":1},{"id":"76e5e0c.cb0e92","type":"dropbox-config","name":""},{"id":"c3f194d9.93ecd8","type":"ui_group","name":"Default","tab":"327ea06c.0a258","order":1,"disp":false,"width":"16","collapse":false},{"id":"327ea06c.0a258","type":"ui_tab","name":"CRON","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"43a2ce5d.23ebd","type":"inject","z":"4855bb7e.cef384","name":"Set limits","props":[{"p":"min","v":"25","vt":"num"},{"p":"max","v":"35","vt":"num"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":100,"wires":[["1556a914.928f57"]]},{"id":"84a4e58e.33e308","type":"debug","z":"4855bb7e.cef384","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":100,"wires":[]},{"id":"8b410c99.0348c","type":"debug","z":"4855bb7e.cef384","name":"Check Influx Add Record","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":180,"wires":[]},{"id":"8df3f904.9e3b88","type":"http request","z":"4855bb7e.cef384","name":"POST to Influx","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:8086/write?db=db_name","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":180,"wires":[["8b410c99.0348c"]]},{"id":"a4372345.67742","type":"template","z":"4855bb7e.cef384","name":"Influx Output","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"amb_temp,device={{topic}} value={{payload}}","x":490,"y":180,"wires":[["8df3f904.9e3b88"]]},{"id":"205a0a14.1d2f26","type":"change","z":"4855bb7e.cef384","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"sensor1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":180,"wires":[["a4372345.67742"]]},{"id":"1ed9a136.4abb0f","type":"ui_template","z":"4855bb7e.cef384","group":"81224c3.26bb2b","name":"","order":1,"width":12,"height":8,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":580,"y":300,"wires":[[]]},{"id":"7887968c.8fbe38","type":"ui_button","z":"4855bb7e.cef384","name":"","group":"81224c3.26bb2b","order":2,"width":6,"height":1,"passthru":false,"label":"Show historical data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"<iframe src=\"http://127.0.0.1:3000/d/X6JncOcGz/ambient-temperature?orgId=1&refresh=5s&theme=light&viewPanel=2\" width=\"100%\" height=\"100%\" frameborder=\"0\"></iframe>","payloadType":"str","topic":"","x":140,"y":300,"wires":[["f8abd7fa.63ba18"]]},{"id":"f8abd7fa.63ba18","type":"change","z":"4855bb7e.cef384","name":"","rules":[{"t":"set","p":"template","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":300,"wires":[["1ed9a136.4abb0f"]]},{"id":"ac203e24.26f26","type":"ui_button","z":"4855bb7e.cef384","name":"","group":"81224c3.26bb2b","order":3,"width":6,"height":1,"passthru":false,"label":"Show current data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"<iframe src=\"http://127.0.0.1:3000/d-solo/X6JncOcGz/ambient-temperature?orgId=1&refresh=5s&panelId=4\" width=\"100%\" height=\"200\" frameborder=\"0\"></iframe>","payloadType":"str","topic":"","x":130,"y":360,"wires":[["f8abd7fa.63ba18"]]},{"id":"54a89200.f1facc","type":"comment","z":"4855bb7e.cef384","name":"Run Grafana and click buttons","info":"","x":160,"y":240,"wires":[]},{"id":"c82d8661.827e98","type":"comment","z":"4855bb7e.cef384","name":"Run InfluxDB and start flow","info":"","x":150,"y":40,"wires":[]},{"id":"1556a914.928f57","type":"change","z":"4855bb7e.cef384","name":"random","rules":[{"t":"set","p":"payload","pt":"msg","to":"$random() * (msg.max - msg.min) + msg.min","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":100,"wires":[["84a4e58e.33e308","205a0a14.1d2f26"]],"icon":"font-awesome/fa-random"},{"id":"2811b8b1.c8d228","type":"inject","z":"4855bb7e.cef384","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":420,"wires":[["9292e78c.b9b838"]]},{"id":"9292e78c.b9b838","type":"function","z":"4855bb7e.cef384","name":"Get most recent readings from influx","func":"msg.query = `SELECT MEAN(value) FROM \"amb_temp\" WHERE time > now() - 2m`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":420,"wires":[["291cda68.e695f6"]]},{"id":"291cda68.e695f6","type":"influxdb in","z":"4855bb7e.cef384","influxdb":"b8197973.6f5938","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":590,"y":420,"wires":[["b8a86fe5.5df6d"]]},{"id":"bb6ba6c6.939788","type":"influxdb in","z":"4855bb7e.cef384","influxdb":"b8197973.6f5938","name":"","query":"SELECT * FROM \"amb_temp\"","rawOutput":true,"precision":"","retentionPolicy":"","x":390,"y":540,"wires":[["3f4e3372.b46d1c"]]},{"id":"38acb756.7e5918","type":"debug","z":"4855bb7e.cef384","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":540,"wires":[]},{"id":"bf1b1a79.f978e8","type":"inject","z":"4855bb7e.cef384","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":540,"wires":[["bb6ba6c6.939788"]]},{"id":"3f4e3372.b46d1c","type":"change","z":"4855bb7e.cef384","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.results[0].series[0].values","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":540,"wires":[["38acb756.7e5918"]]},{"id":"e7d692e.49c7d7","type":"debug","z":"8b0df6c7.7c7758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":340,"wires":[]},{"id":"fb4b225.1a953e","type":"inject","z":"8b0df6c7.7c7758","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$random() * 100","payloadType":"jsonata","x":110,"y":420,"wires":[["6b119d1a.95d5d4"]]},{"id":"34fd706b.34599","type":"modbus-read","z":"8b0df6c7.7c7758","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"100","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"13dcf127.e3dd8f","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":290,"y":340,"wires":[["e4910d44.11e4f"],["80358777.787b98"]]},{"id":"80358777.787b98","type":"modbus-response","z":"8b0df6c7.7c7758","name":"","registerShowMax":20,"x":490,"y":380,"wires":[]},{"id":"fc3f3891.f2ec58","type":"debug","z":"8b0df6c7.7c7758","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":540,"wires":[]},{"id":"1c885cc1.e931d3","type":"modbus-server","z":"8b0df6c7.7c7758","name":"","logEnabled":false,"hostname":"127.0.0.1","serverPort":"10502","responseDelay":100,"delayUnit":"ms","coilsBufferSize":10000,"holdingBufferSize":10000,"inputBufferSize":10000,"discreteBufferSize":10000,"showErrors":false,"x":140,"y":200,"wires":[["fa313655.ca38a8"],["fa313655.ca38a8"],["fa313655.ca38a8"],["fa313655.ca38a8"],[]]},{"id":"c86a1451.f19698","type":"modbus-response","z":"8b0df6c7.7c7758","name":"","registerShowMax":20,"x":490,"y":460,"wires":[]},{"id":"2e7b89f6.04dab6","type":"modbus-write","z":"8b0df6c7.7c7758","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"MHoldingRegisters","adr":"100","quantity":"2","server":"13dcf127.e3dd8f","emptyMsgOnFail":false,"keepMsgProperties":false,"x":280,"y":500,"wires":[["c86a1451.f19698"],["fc3f3891.f2ec58"]]},{"id":"6b119d1a.95d5d4","type":"function","z":"8b0df6c7.7c7758","name":"float32 -> int16","func":"let base = new ArrayBuffer(4); //4 bytes\nlet int16_view = new Uint16Array(base);\nlet float32_view = new Float32Array(base);\n\nfloat32_view[0] = msg.payload;\nnode.status({fill:\"yellow\",shape:\"dot\",text:msg.payload});\nlet rValue = [];\nrValue.push(int16_view[0]);\nrValue.push(int16_view[1]);\n\nmsg.payload = rValue;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":420,"wires":[["2e7b89f6.04dab6"]]},{"id":"e4910d44.11e4f","type":"function","z":"8b0df6c7.7c7758","name":"int16 -> float32","func":"let base = new ArrayBuffer(4); //4 bytes\nlet int16_view = new Int16Array(base);\nlet float32_view = new Float32Array(base);\n\nint16_view[0] = msg.payload[0];\nint16_view[1] = msg.payload[1];\n\nmsg.payload = float32_view[0];\nnode.status({fill:\"yellow\",shape:\"dot\",text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":300,"wires":[["e7d692e.49c7d7"]]},{"id":"1df0a7c.ce62758","type":"comment","z":"8b0df6c7.7c7758","name":"Slave (server)","info":"","x":110,"y":40,"wires":[]},{"id":"29a70b18.0e4564","type":"comment","z":"8b0df6c7.7c7758","name":"Master (client) - Async Pub/Sub (Float32)","info":"","x":200,"y":300,"wires":[]},{"id":"fa313655.ca38a8","type":"debug","z":"8b0df6c7.7c7758","name":"slave","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":200,"wires":[]},{"id":"63e27444.10305c","type":"inject","z":"8b0df6c7.7c7758","name":"dump","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["1c885cc1.e931d3"]]},{"id":"8ac3e01a.1b43b","type":"inject","z":"e913fad1.261668","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"topic\":\"test\",\"x\":1}","payloadType":"json","x":170,"y":140,"wires":[["716bb869.4d0118"]]},{"id":"82004ccf.ff07b","type":"exec","z":"e913fad1.261668","command":"start \"\" \"\"C:\\Users\\alino\\Programmi\\PortableApps\\GoogleChromePortable\\GoogleChromePortable.exe\"\"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"apre Chrome","x":930,"y":280,"wires":[[],[],[]]},{"id":"861d031e.373a1","type":"comment","z":"e913fad1.261668","name":"Insert documents","info":"","x":140,"y":60,"wires":[]},{"id":"ac4f7d50.f811d","type":"comment","z":"e913fad1.261668","name":"Find documents","info":"","x":140,"y":320,"wires":[]},{"id":"2c958c0e.6338f4","type":"debug","z":"e913fad1.261668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":520,"wires":[]},{"id":"40e7d981.39e998","type":"inject","z":"e913fad1.261668","name":"","props":[{"p":"payload","v":"{\"topic\":\"test\"}","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"topic\":\"test\"}","payloadType":"json","x":150,"y":400,"wires":[["b7ced32f.10612"]]},{"id":"45623e52.db59a","type":"inject","z":"e913fad1.261668","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"topic\":\"null\",\"x\":2}","payloadType":"json","x":170,"y":220,"wires":[["716bb869.4d0118"]]},{"id":"f2fa7f9e.31f9c","type":"inject","z":"e913fad1.261668","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"topic\":\"test\",\"y\":2}","payloadType":"json","x":170,"y":180,"wires":[["716bb869.4d0118"]]},{"id":"b7ced32f.10612","type":"influxdb in","z":"e913fad1.261668","influxdb":"6f035a17.dc8e24","name":"","query":"select * from test where \"topic\" = 'test' and time > now() - 5m","rawOutput":false,"precision":"","retentionPolicy":"","x":590,"y":440,"wires":[["2c958c0e.6338f4"]]},{"id":"716bb869.4d0118","type":"influxdb out","z":"e913fad1.261668","influxdb":"6f035a17.dc8e24","name":"","measurement":"test","precision":"","retentionPolicy":"","x":410,"y":180,"wires":[]},{"id":"9a5f1cba.59ca4","type":"inject","z":"e913fad1.261668","name":"Apri Cronograf","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"http://127.0.0.1:8888","payloadType":"str","x":580,"y":240,"wires":[["82004ccf.ff07b"]],"icon":"font-awesome/fa-globe"},{"id":"4f8acb4a.2ca974","type":"influxdb in","z":"e913fad1.261668","influxdb":"6f035a17.dc8e24","name":"","query":"create database mydb","rawOutput":false,"precision":"","retentionPolicy":"","x":710,"y":40,"wires":[["32fcde8.64d3b22"]]},{"id":"99d7e898.6ad338","type":"influxdb in","z":"e913fad1.261668","influxdb":"6f035a17.dc8e24","name":"","query":"drop measurement test","rawOutput":false,"precision":"","retentionPolicy":"","x":710,"y":380,"wires":[["2c958c0e.6338f4"]]},{"id":"dc944c15.b5754","type":"inject","z":"e913fad1.261668","name":"Apri Grafana","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"http://127.0.0.1:3000","payloadType":"str","x":590,"y":320,"wires":[["82004ccf.ff07b"]],"icon":"font-awesome/fa-globe"},{"id":"49709819.1ccb68","type":"inject","z":"e913fad1.261668","name":"Crea database","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":420,"y":40,"wires":[["4f8acb4a.2ca974"]]},{"id":"b9eb2c58.657a3","type":"inject","z":"e913fad1.261668","name":"Cancella tabella","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":420,"y":380,"wires":[["99d7e898.6ad338"]]},{"id":"32fcde8.64d3b22","type":"debug","z":"e913fad1.261668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":180,"wires":[]},{"id":"d200c071.ed951","type":"modbus-getter","z":"8b0df6c7.7c7758","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"102","quantity":"1","server":"13dcf127.e3dd8f","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":680,"y":200,"wires":[["6d336e20.f0259"],["c0bfc79a.852098"]]},{"id":"1db3a370.09765d","type":"modbus-write","z":"8b0df6c7.7c7758","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"102","quantity":"1","server":"13dcf127.e3dd8f","emptyMsgOnFail":false,"keepMsgProperties":false,"x":680,"y":100,"wires":[["942891e9.dfb38"],["e8f5bdb9.fe871"]]},{"id":"60ae5f5e.da08d","type":"inject","z":"8b0df6c7.7c7758","name":"write","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$round($random()*100,0)","payloadType":"jsonata","x":510,"y":80,"wires":[["1db3a370.09765d"]]},{"id":"6d336e20.f0259","type":"debug","z":"8b0df6c7.7c7758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":180,"wires":[]},{"id":"c0bfc79a.852098","type":"modbus-response","z":"8b0df6c7.7c7758","name":"","registerShowMax":20,"x":890,"y":220,"wires":[]},{"id":"a02e881b.a4c018","type":"inject","z":"8b0df6c7.7c7758","name":"read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":510,"y":180,"wires":[["d200c071.ed951"]]},{"id":"942891e9.dfb38","type":"debug","z":"8b0df6c7.7c7758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":80,"wires":[]},{"id":"e8f5bdb9.fe871","type":"modbus-response","z":"8b0df6c7.7c7758","name":"","registerShowMax":20,"x":890,"y":120,"wires":[]},{"id":"13c434df.1e897b","type":"comment","z":"8b0df6c7.7c7758","name":"Master (client) - Sync R/W (UInt16)","info":"","x":580,"y":40,"wires":[]},{"id":"885ab639.d5ade8","type":"ui_button","z":"c93792ae.b6f79","name":"","group":"ed90da37.9cbcc8","order":4,"width":0,"height":0,"passthru":true,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"opc.server.ip","payloadType":"flow","topic":"","x":90,"y":40,"wires":[["6fd51fc.eace1e"]]},{"id":"2c0ba43f.97d61c","type":"http request","z":"c93792ae.b6f79","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/flows","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":160,"wires":[["56cb2a33.490194"]]},{"id":"6fd51fc.eace1e","type":"file in","z":"c93792ae.b6f79","name":"","filename":"data/flows.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":260,"y":40,"wires":[["318bc61b.414a7a"]]},{"id":"318bc61b.414a7a","type":"json","z":"c93792ae.b6f79","name":"","property":"payload","action":"","pretty":false,"x":430,"y":40,"wires":[["ac30b1dd.2564a"]]},{"id":"ac30b1dd.2564a","type":"function","z":"c93792ae.b6f79","name":"set opc endpoint","func":"var host = flow.get(\"opc.server.host\");\nvar port = flow.get(\"opc.server.port\");\nvar path = flow.get(\"opc.server.path\");\n\nfor(var i = 0; i < msg.payload.length; i++)\n    //msg.payload[i].type == 'OpcUa-Endpoint'\n    if (msg.payload[i].id == \"f7d10f6f.7906d\") {\n        msg.payload[i].endpoint = 'opc.tcp://' + host + ':' + port;\n        if (path)\n            msg.payload[i].endpoint += \"/\" + path;\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":100,"wires":[["c214dd10.5e37c"]]},{"id":"57121b08.0cf5f4","type":"change","z":"c93792ae.b6f79","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Node-RED-Deployment-Type\":\"reload\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":160,"wires":[["2c0ba43f.97d61c"]]},{"id":"c214dd10.5e37c","type":"file","z":"c93792ae.b6f79","name":"","filename":"data/flows.json","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":460,"y":100,"wires":[["57121b08.0cf5f4"]]},{"id":"56cb2a33.490194","type":"file in","z":"c93792ae.b6f79","name":"","filename":"data/flows.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":260,"y":220,"wires":[["3e83a3cf.afd46c"]]},{"id":"3e83a3cf.afd46c","type":"json","z":"c93792ae.b6f79","name":"","property":"payload","action":"","pretty":false,"x":430,"y":220,"wires":[["956df266.1b48"]]},{"id":"43caab5f.109fd4","type":"inject","z":"c93792ae.b6f79","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":90,"y":220,"wires":[["56cb2a33.490194"]]},{"id":"bfd2f5b.41cf908","type":"ui_text","z":"c93792ae.b6f79","group":"a4d195eb.433008","order":1,"width":0,"height":0,"name":"","label":"Endpoint","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":160,"wires":[]},{"id":"cac7235.987c2e","type":"ui_template","z":"c93792ae.b6f79","group":"a4d195eb.433008","name":"Browse","order":2,"width":10,"height":6,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <select ng-model=\"item\" ng-options=\"items.item.displayName.text for items in msg.payload\">\n        <option value=\"\">-- Objects Root --</option>\n    </select>\n    <button ng-click=\"send({payload: {actiontype: 'browse', root: item}})\">\n        Browse\n    </button>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <ul>\n        <li ng-repeat=\"items in msg.payload\">\n          {{items.item.displayName.text}}: {{items.item.nodeId}}\n        </li>\n    </ul>\n</div>\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":880,"y":100,"wires":[["812622da.35c06","172977c3.8b3328"]]},{"id":"fad450a0.c4d71","type":"ui_toast","z":"c93792ae.b6f79","position":"top right","displayTime":"2","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Browsing...","name":"Action","x":930,"y":40,"wires":[]},{"id":"172977c3.8b3328","type":"OpcUa-Browser","z":"c93792ae.b6f79","endpoint":"f7d10f6f.7906d","item":"","datatype":"","topic":"","items":[],"x":890,"y":160,"wires":[["cac7235.987c2e"]]},{"id":"812622da.35c06","type":"change","z":"c93792ae.b6f79","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.root.item.displayName.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":40,"wires":[["fad450a0.c4d71"]]},{"id":"b8a86fe5.5df6d","type":"debug","z":"4855bb7e.cef384","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":420,"wires":[]},{"id":"d405aad6.e3b208","type":"inject","z":"e913fad1.261668","name":"Elimina database","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":420,"y":100,"wires":[["4e3829b5.8445b8"]]},{"id":"4e3829b5.8445b8","type":"influxdb in","z":"e913fad1.261668","influxdb":"6f035a17.dc8e24","name":"","query":"drop database mydb","rawOutput":false,"precision":"","retentionPolicy":"","org":"","x":700,"y":100,"wires":[["32fcde8.64d3b22"]]},{"id":"41f441d5.1cb0c","type":"inject","z":"5fb6bbca.6adb44","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"topic\":\"test\",\"x\":1}","payloadType":"json","x":170,"y":140,"wires":[["3200db2d.6af1c4"]]},{"id":"c7482db2.4e69","type":"inject","z":"5fb6bbca.6adb44","name":"Apri MongoDB Atlas (games / mongosup)","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"https://cloud.mongodb.com/","payloadType":"str","x":660,"y":240,"wires":[["e7b762c2.2ee43"]],"icon":"font-awesome/fa-globe"},{"id":"e7b762c2.2ee43","type":"exec","z":"5fb6bbca.6adb44","command":"start \"\" \"\"C:\\Users\\alino\\Programmi\\PortableApps\\GoogleChromePortable\\GoogleChromePortable.exe\"\"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"apre Chrome","x":930,"y":280,"wires":[[],[],[]]},{"id":"f55cabab.528c88","type":"comment","z":"5fb6bbca.6adb44","name":"Insert documents","info":"","x":140,"y":60,"wires":[]},{"id":"2f2ae47c.531dcc","type":"comment","z":"5fb6bbca.6adb44","name":"Find documents","info":"","x":140,"y":320,"wires":[]},{"id":"8d98b65e.911308","type":"debug","z":"5fb6bbca.6adb44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":520,"wires":[]},{"id":"d084e7a1.7189d8","type":"inject","z":"5fb6bbca.6adb44","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"topic\":\"test\"}","payloadType":"json","x":150,"y":400,"wires":[["8542d1f4.a624b"]]},{"id":"6c0ae062.c1336","type":"inject","z":"5fb6bbca.6adb44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"topic\":\"null\",\"x\":2}","payloadType":"json","x":170,"y":220,"wires":[["3200db2d.6af1c4"]]},{"id":"be3d7a05.a809b8","type":"inject","z":"5fb6bbca.6adb44","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"topic\":\"test\",\"y\":2}","payloadType":"json","x":170,"y":180,"wires":[["3200db2d.6af1c4"]]},{"id":"8542d1f4.a624b","type":"mongodb in","z":"5fb6bbca.6adb44","mongodb":"346d997e.2ff0c6","name":"","collection":"test","operation":"find","x":450,"y":440,"wires":[["8d98b65e.911308"]]},{"id":"3200db2d.6af1c4","type":"mongodb out","z":"5fb6bbca.6adb44","mongodb":"346d997e.2ff0c6","name":"","collection":"test","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":450,"y":180,"wires":[]},{"id":"4286a088.aad25","type":"inject","z":"5fb6bbca.6adb44","name":"Cancella documenti","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"topic\":\"test\",\"y\":2}","payloadType":"json","x":430,"y":100,"wires":[["43e9fa20.8ac154"]]},{"id":"43e9fa20.8ac154","type":"mongodb out","z":"5fb6bbca.6adb44","mongodb":"346d997e.2ff0c6","name":"","collection":"test","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":690,"y":100,"wires":[]},{"id":"4a623b56.d3aa74","type":"inject","z":"fd655cf3.9ea96","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=6;i=1003","x":170,"y":220,"wires":[["770211ff.39933"]]},{"id":"7e713d16.79c0c4","type":"debug","z":"fd655cf3.9ea96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":220,"wires":[]},{"id":"df9931d7.34c1d","type":"OpcUa-Client","z":"fd655cf3.9ea96","endpoint":"73586c37.402194","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"2","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":600,"y":220,"wires":[["7e713d16.79c0c4"]]},{"id":"cbc85ec8.72224","type":"inject","z":"fd655cf3.9ea96","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=6;i=1003;datatype=Double","payload":"$random()","payloadType":"jsonata","x":150,"y":60,"wires":[["fed74f8a.36daf"]]},{"id":"ca5b3029.5756b","type":"debug","z":"fd655cf3.9ea96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":60,"wires":[]},{"id":"fed74f8a.36daf","type":"OpcUa-Client","z":"fd655cf3.9ea96","endpoint":"73586c37.402194","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":400,"y":60,"wires":[["ca5b3029.5756b"]]},{"id":"ed25e96c.38e028","type":"function","z":"fd655cf3.9ea96","name":"UNSUB","func":"msg.action = \"unsubscribe\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":460,"wires":[["df9931d7.34c1d"]]},{"id":"9c224a5d.642c58","type":"inject","z":"fd655cf3.9ea96","name":"","props":[{"p":"temp","v":"ns=6;i=1003;datatype=Double","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":400,"wires":[["5585491a.db4fb8"]]},{"id":"5585491a.db4fb8","type":"OpcUa-Item","z":"fd655cf3.9ea96","item":"ns=6;i=1003","datatype":"Double","value":"","name":"","x":220,"y":460,"wires":[["9bdede96.fc66a"]]},{"id":"9bdede96.fc66a","type":"change","z":"fd655cf3.9ea96","name":"","rules":[{"t":"set","p":"item","pt":"msg","to":"temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":460,"wires":[["ed25e96c.38e028"]]},{"id":"770211ff.39933","type":"function","z":"fd655cf3.9ea96","name":"SUB","func":"msg.action = \"subscribe\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":220,"wires":[["df9931d7.34c1d"]]},{"id":"685e17fa.f477e8","type":"OpcUa-Client","z":"e8d72bfd.3d5578","endpoint":"f7d10f6f.7906d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":"5","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":480,"y":520,"wires":[["caef72bd.215eb"]]},{"id":"4d2a00c2.a78b1","type":"switch","z":"e8d72bfd.3d5578","d":true,"name":"exclude sub ack","property":"topic","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$not($contains(topic, \"subscription\"))","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":400,"wires":[[]]},{"id":"7a19d0bf.61908","type":"ui_chart","z":"e8d72bfd.3d5578","name":"real-time","group":"fb4def7d.6655c","order":1,"width":0,"height":0,"label":"{{msg.topic}} {{msg.payload|number:2}}","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":260,"y":580,"wires":[[]]},{"id":"1bf9c05a.781d8","type":"OpcUa-Client","z":"e8d72bfd.3d5578","endpoint":"f7d10f6f.7906d","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":920,"y":900,"wires":[[]]},{"id":"1e6082ff.e2e54d","type":"ui_text_input","z":"e8d72bfd.3d5578","name":"","label":"Max charging (W)","tooltip":"","group":"2c8f1b5f.d2f494","order":3,"width":3,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"","x":490,"y":780,"wires":[["4c636b8a.8b3fd4"]]},{"id":"eab6217.55998e","type":"ui_text_input","z":"e8d72bfd.3d5578","name":"","label":"Max decharging (W)","tooltip":"","group":"2c8f1b5f.d2f494","order":8,"width":3,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"","x":500,"y":820,"wires":[["701ac0ab.01d79"]]},{"id":"dbf76796.9d26c8","type":"ui_slider","z":"e8d72bfd.3d5578","name":"","label":"E1","tooltip":"","group":"2c8f1b5f.d2f494","order":1,"width":3,"height":1,"passthru":true,"outs":"all","topic":"","min":0,"max":"1","step":"0.01","x":450,"y":900,"wires":[["b778887c.6716c8","9eadc546.0a32b8"]]},{"id":"8bf468bd.c41ad8","type":"ui_slider","z":"e8d72bfd.3d5578","name":"","label":"E2","tooltip":"","group":"2c8f1b5f.d2f494","order":6,"width":3,"height":1,"passthru":true,"outs":"all","topic":"","min":0,"max":"1","step":"0.01","x":450,"y":980,"wires":[["39cc4f00.e8a1d","3c7167a6.4fb8f8"]]},{"id":"966e0b3.c2288f8","type":"switch","z":"e8d72bfd.3d5578","name":"GUI","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"CMax","vt":"str"},{"t":"cont","v":"DMax","vt":"str"},{"t":"cont","v":"E_1","vt":"str"},{"t":"cont","v":"E_2","vt":"str"},{"t":"cont","v":"outputStatus","vt":"str"},{"t":"cont","v":"powerBat","vt":"str"},{"t":"cont","v":"gSM1.power","vt":"str"},{"t":"cont","v":"powerPV","vt":"str"},{"t":"cont","v":"gSM2.power","vt":"str"},{"t":"cont","v":"powerHP","vt":"str"},{"t":"cont","v":"gSM3.power","vt":"str"},{"t":"cont","v":"pvConnected","vt":"str"},{"t":"cont","v":"socPercent","vt":"str"}],"checkall":"true","repair":false,"outputs":13,"x":90,"y":820,"wires":[["1e6082ff.e2e54d"],["eab6217.55998e"],["dbf76796.9d26c8"],["8bf468bd.c41ad8"],["472435d0.5ae9ec"],["2d764af1.062006"],["2d764af1.062006"],["403e98aa.b2b498"],["403e98aa.b2b498"],["7dfdbe21.ecb7d"],["7dfdbe21.ecb7d"],["b0bbc464.a15e78"],["215b7e20.6fe102"]]},{"id":"b0bbc464.a15e78","type":"ui_switch","z":"e8d72bfd.3d5578","name":"","label":"PV status","tooltip":"","group":"2c8f1b5f.d2f494","order":12,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":460,"y":1200,"wires":[["88441a55.a98f88"]]},{"id":"39cc4f00.e8a1d","type":"ui_text","z":"e8d72bfd.3d5578","group":"2c8f1b5f.d2f494","order":7,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":960,"wires":[]},{"id":"b778887c.6716c8","type":"ui_text","z":"e8d72bfd.3d5578","group":"2c8f1b5f.d2f494","order":2,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":880,"wires":[]},{"id":"24156356.1fb14c","type":"ui_chart","z":"e8d72bfd.3d5578","name":"Battery SoC%","group":"2c8f1b5f.d2f494","order":5,"width":4,"height":3,"label":"{{msg.payload|number:2}}%","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Electrical battery SoC","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":720,"y":1260,"wires":[[]]},{"id":"45dbcfae.26fea","type":"ui_numeric","z":"e8d72bfd.3d5578","name":"","label":"Setpoint(%)","tooltip":"","group":"2c8f1b5f.d2f494","order":16,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":0,"max":"100","step":"1","x":110,"y":940,"wires":[["9f1b0261.e832f"]]},{"id":"6c6ce81b.d87b38","type":"mqtt out","z":"e8d72bfd.3d5578","d":true,"name":"","topic":"","qos":"","retain":"","broker":"1872f8d8.cb4a97","x":450,"y":660,"wires":[]},{"id":"e1c9befb.9a66","type":"influxdb out","z":"e8d72bfd.3d5578","d":true,"influxdb":"6f035a17.dc8e24","name":"","measurement":"","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":520,"y":620,"wires":[]},{"id":"6941408b.df0a7","type":"change","z":"e8d72bfd.3d5578","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":460,"wires":[["685e17fa.f477e8"]]},{"id":"4c636b8a.8b3fd4","type":"change","z":"e8d72bfd.3d5578","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"ns=6;s=::AsGlobalPV:gController.powerCMax;datatype=Float","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":780,"wires":[["fabe66ee.f01028","1bf9c05a.781d8"]]},{"id":"701ac0ab.01d79","type":"change","z":"e8d72bfd.3d5578","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"ns=6;s=::AsGlobalPV:gController.powerDMax;datatype=Float","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":820,"wires":[["fabe66ee.f01028","1bf9c05a.781d8"]]},{"id":"9eadc546.0a32b8","type":"change","z":"e8d72bfd.3d5578","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"ns=6;s=::AsGlobalPV:gController.E_1;datatype=Float","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":900,"wires":[["fabe66ee.f01028","1bf9c05a.781d8"]]},{"id":"3c7167a6.4fb8f8","type":"change","z":"e8d72bfd.3d5578","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"ns=6;s=::AsGlobalPV:gController.E_2;datatype=Float","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":980,"wires":[["fabe66ee.f01028","1bf9c05a.781d8"]]},{"id":"88441a55.a98f88","type":"change","z":"e8d72bfd.3d5578","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"ns=6;s=::AsGlobalPV:gController.pvConnected;datatype=Boolean","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1020,"wires":[["fabe66ee.f01028","1bf9c05a.781d8"]]},{"id":"83812a6f.e49a18","type":"change","z":"e8d72bfd.3d5578","name":"influxdb","rules":[{"t":"set","p":"measurement","pt":"msg","to":"$substringAfter(topic, \".\")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"[{\"field-value\": payload},{\"tag-sensor\": $substringBefore(topic, \".\")}]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":620,"wires":[["e1c9befb.9a66"]]},{"id":"2d764af1.062006","type":"ui_gauge","z":"e8d72bfd.3d5578","name":"","group":"7c5dd017.d2c34","order":1,"width":4,"height":2,"gtype":"gage","title":"{{topic}}","label":"W","format":"{{value|number:2}}","min":"-4500","max":"4500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":1080,"wires":[]},{"id":"403e98aa.b2b498","type":"ui_gauge","z":"e8d72bfd.3d5578","name":"","group":"7c5dd017.d2c34","order":3,"width":4,"height":2,"gtype":"gage","title":"{{topic}}","label":"W","format":"{{value|number:2}}","min":"-4500","max":"4500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":1120,"wires":[]},{"id":"7dfdbe21.ecb7d","type":"ui_gauge","z":"e8d72bfd.3d5578","name":"","group":"7c5dd017.d2c34","order":2,"width":4,"height":2,"gtype":"gage","title":"{{topic}}","label":"W","format":"{{value|number:2}}","min":"-4500","max":"4500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":1160,"wires":[]},{"id":"472435d0.5ae9ec","type":"ui_switch","z":"e8d72bfd.3d5578","name":"","label":"DC bus","tooltip":"","group":"2c8f1b5f.d2f494","order":10,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-circle","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"fa-circle","offcolor":"red","x":460,"y":1040,"wires":[[]]},{"id":"caef72bd.215eb","type":"change","z":"e8d72bfd.3d5578","name":"extract label","rules":[{"t":"set","p":"topic","pt":"msg","to":"$substringAfter(topic, \"::AsGlobalPV:\")","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"$substringBefore(topic, \";datatype=\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":520,"wires":[["5b9430db.77c87"]]},{"id":"fabe66ee.f01028","type":"change","z":"e8d72bfd.3d5578","d":true,"name":"ns=1","rules":[{"t":"set","p":"topic","pt":"msg","to":"\"ns=1;\" & topic","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":840,"wires":[["1bf9c05a.781d8"]]},{"id":"215b7e20.6fe102","type":"change","z":"e8d72bfd.3d5578","name":"format data","rules":[{"t":"set","p":"topic","pt":"msg","to":"Electrical battery SoC","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload*100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1260,"wires":[["24156356.1fb14c"]]},{"id":"b0e506ba.f17768","type":"change","z":"e8d72bfd.3d5578","name":"hivemq","rules":[{"t":"set","p":"topic","pt":"msg","to":"$replace(topic, \".\", \"/\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":660,"wires":[["6c6ce81b.d87b38"]]},{"id":"e7469b36.b1c108","type":"ui_button","z":"e8d72bfd.3d5578","d":true,"name":"","group":"fb4def7d.6655c","order":8,"width":4,"height":1,"passthru":true,"label":"Restart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":700,"y":40,"wires":[["8c5d9f9f.668c4"]]},{"id":"a46251e7.df6cb","type":"http request","z":"e8d72bfd.3d5578","d":true,"name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/flows","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":100,"wires":[[]]},{"id":"8c5d9f9f.668c4","type":"change","z":"e8d72bfd.3d5578","d":true,"name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Node-RED-Deployment-Type\":\"reload\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":100,"wires":[["a46251e7.df6cb"]]},{"id":"c59b9fa3.cc477","type":"ui_button","z":"e8d72bfd.3d5578","name":"","group":"fb4def7d.6655c","order":2,"width":3,"height":1,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"green","icon":"fa-play","payload":"","payloadType":"str","topic":"subscribe","x":90,"y":160,"wires":[["d380470.186ecb8","f7a1f5c5.a4a1d8"]]},{"id":"3cdda45.e68ed5c","type":"ui_button","z":"e8d72bfd.3d5578","d":true,"name":"","group":"fb4def7d.6655c","order":7,"width":4,"height":1,"passthru":true,"label":"Write","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":690,"y":160,"wires":[["3d919c2f.275204"]]},{"id":"6dee9c25.242314","type":"change","z":"e8d72bfd.3d5578","d":true,"name":"random values","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$random()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":280,"wires":[["9b5e0b16.1a7f28"]]},{"id":"9b5e0b16.1a7f28","type":"OpcUa-Client","z":"e8d72bfd.3d5578","d":true,"endpoint":"f7d10f6f.7906d","action":"write","deadbandtype":"a","deadbandvalue":1,"time":"3","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":920,"y":280,"wires":[[]]},{"id":"b2a69888.7a42e8","type":"mongodb out","z":"e8d72bfd.3d5578","mongodb":"346d997e.2ff0c6","name":"","collection":"latest","payonly":true,"upsert":true,"multi":false,"operation":"update","x":560,"y":720,"wires":[]},{"id":"845b1d5b.c2d9","type":"link in","z":"e8d72bfd.3d5578","name":"","links":["5b9430db.77c87"],"x":15,"y":640,"wires":[["83812a6f.e49a18","b0e506ba.f17768","7a19d0bf.61908","48ea7e5f.c608c"]]},{"id":"5b9430db.77c87","type":"link out","z":"e8d72bfd.3d5578","name":"","links":["845b1d5b.c2d9","d02b6c1f.f8316"],"x":855,"y":520,"wires":[]},{"id":"d02b6c1f.f8316","type":"link in","z":"e8d72bfd.3d5578","name":"","links":["5b9430db.77c87"],"x":15,"y":820,"wires":[["966e0b3.c2288f8"]]},{"id":"12183f34.3c33f1","type":"inject","z":"e8d72bfd.3d5578","name":"mongosup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"https://cloud.mongodb.com/","payloadType":"str","x":100,"y":1320,"wires":[["b05ab3b6.a21e2"]],"icon":"font-awesome/fa-globe"},{"id":"277d1f6e.a1433","type":"inject","z":"e8d72bfd.3d5578","name":"Chronograf","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"http://127.0.0.1:8888","payloadType":"str","x":100,"y":1200,"wires":[["b05ab3b6.a21e2"]],"icon":"font-awesome/fa-globe"},{"id":"48ea7e5f.c608c","type":"change","z":"e8d72bfd.3d5578","name":"mongodb","rules":[{"t":"set","p":"query","pt":"msg","to":"{\"sensor\": topic}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\"value\": payload, \"sensor\": topic}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":700,"wires":[["b2a69888.7a42e8"]]},{"id":"6040b15c.560c8","type":"ui_button","z":"e8d72bfd.3d5578","name":"","group":"fb4def7d.6655c","order":3,"width":3,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"red","icon":"fa-stop","payload":"","payloadType":"str","topic":"unsubscribe","x":90,"y":280,"wires":[["ffab7256.16394","fe673250.74ccd"]]},{"id":"11a05253.04f36e","type":"change","z":"e8d72bfd.3d5578","name":"","rules":[{"t":"set","p":"opc.node.file","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":100,"wires":[[]]},{"id":"c501b83e.e69e28","type":"inject","z":"e8d72bfd.3d5578","name":"data\\opc\\opc-ua-nodes.txt","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"data\\opc\\opc-ua-nodes.txt","payloadType":"str","x":150,"y":40,"wires":[["3bbd357.b1a5cca"]]},{"id":"ffab7256.16394","type":"change","z":"e8d72bfd.3d5578","name":"","rules":[{"t":"set","p":"monitoring.started","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":280,"wires":[["ef07c687.0e8f98"]]},{"id":"d380470.186ecb8","type":"change","z":"e8d72bfd.3d5578","name":"","rules":[{"t":"set","p":"monitoring.started","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":160,"wires":[["7e0e0824.685f78"]]},{"id":"e9bbf236.683e9","type":"file in","z":"e8d72bfd.3d5578","name":"","filename":"","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":450,"y":460,"wires":[["6941408b.df0a7"]]},{"id":"99c59cfa.f26c1","type":"file in","z":"e8d72bfd.3d5578","d":true,"name":"","filename":"","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":890,"y":220,"wires":[["6dee9c25.242314"]]},{"id":"79bb66b.93f1098","type":"switch","z":"e8d72bfd.3d5578","name":"started?","property":"monitoring.started","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":100,"y":460,"wires":[["bc6e5bc1.8a8148"]]},{"id":"b15ce03b.f88e6","type":"change","z":"e8d72bfd.3d5578","d":true,"name":"unsubscribe","rules":[{"t":"set","p":"action","pt":"msg","to":"\"unsubscribe\"","tot":"str"},{"t":"set","p":"item","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":400,"wires":[[]]},{"id":"4ece565.52e40a8","type":"inject","z":"e8d72bfd.3d5578","name":"","props":[],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":90,"y":520,"wires":[["79bb66b.93f1098"]]},{"id":"1f08d0ed.e2b0cf","type":"OpcUa-Server","z":"e8d72bfd.3d5578","d":true,"port":"53880","name":"","endpoint":"","autoAcceptUnknownCertificate":true,"x":900,"y":1440,"wires":[[]]},{"id":"e682d26c.46b32","type":"change","z":"e8d72bfd.3d5578","d":true,"name":"add variables","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"opcuaCommand\":\"addVariable\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1380,"wires":[["1f08d0ed.e2b0cf"]]},{"id":"387af7cd.d87138","type":"inject","z":"e8d72bfd.3d5578","d":true,"name":"create server","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":710,"y":1320,"wires":[["55b5316e.b7c25"]]},{"id":"dac90c08.87c4a","type":"inject","z":"e8d72bfd.3d5578","d":true,"name":"create folder","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0,5","topic":"ns=1;s=AsGlobalPV","payload":"{\"opcuaCommand\":\"addFolder\"}","payloadType":"json","x":710,"y":1440,"wires":[["1f08d0ed.e2b0cf"]]},{"id":"55b5316e.b7c25","type":"file in","z":"e8d72bfd.3d5578","d":true,"name":"","filename":"csem-nodes.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":720,"y":1380,"wires":[["e682d26c.46b32"]]},{"id":"3bbd357.b1a5cca","type":"ui_dropdown","z":"e8d72bfd.3d5578","name":"Select file","label":"","tooltip":"","place":"Select OPC node file","group":"fb4def7d.6655c","order":5,"width":3,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Default","value":"data\\opc\\opc-ua-nodes.txt","type":"str"},{"label":"CON control","value":"data\\opc\\csem-nodes-con.txt","type":"str"},{"label":"MED control","value":"data\\opc\\csem-nodes-med.txt","type":"str"},{"label":"Prosys SIM","value":"data\\opc\\prosys-nodes.txt","type":"str"},{"label":"CON complete","value":"data\\opc\\csem-nodes-con-complete.txt","type":"str"},{"label":"MED complete","value":"data\\opc\\csem-nodes-med-complete.txt","type":"str"}],"payload":"","topic":"","x":100,"y":100,"wires":[["11a05253.04f36e"]]},{"id":"bc6e5bc1.8a8148","type":"change","z":"e8d72bfd.3d5578","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"opc.node.file","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":460,"wires":[["e9bbf236.683e9"]]},{"id":"3d919c2f.275204","type":"change","z":"e8d72bfd.3d5578","d":true,"name":"","rules":[{"t":"set","p":"flilename","pt":"msg","to":"opc.node.file","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":220,"wires":[["99c59cfa.f26c1"]]},{"id":"fe673250.74ccd","type":"change","z":"e8d72bfd.3d5578","name":"disable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":100,"y":340,"wires":[["6040b15c.560c8"]]},{"id":"f7a1f5c5.a4a1d8","type":"change","z":"e8d72bfd.3d5578","name":"disable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":100,"y":220,"wires":[["c59b9fa3.cc477"]]},{"id":"7e0e0824.685f78","type":"change","z":"e8d72bfd.3d5578","name":"enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":220,"wires":[["6040b15c.560c8"]]},{"id":"ef07c687.0e8f98","type":"change","z":"e8d72bfd.3d5578","name":"enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":220,"wires":[["c59b9fa3.cc477"]]},{"id":"6fe9ce0f.ed82d","type":"ui_dropdown","z":"c93792ae.b6f79","name":"","label":"","tooltip":"","place":"Test","group":"5e8232d2.1bf57c","order":1,"width":3,"height":1,"passthru":true,"multiple":false,"options":[{"label":"PV power","value":"ns=6;s=::AsGlobalPV:gU1.power","type":"str"},{"label":"Battery SoC","value":"ns=6;s=::AsGlobalPV:gBMS1.socPercent","type":"str"}],"payload":"","topic":"","x":100,"y":840,"wires":[["1bdc75c6.bd2bba"]]},{"id":"54d496d1.295dc8","type":"OpcUa-Client","z":"c93792ae.b6f79","endpoint":"f7d10f6f.7906d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":720,"y":840,"wires":[["bbc1e2e7.bc2a"]]},{"id":"bbc1e2e7.bc2a","type":"ui_text","z":"c93792ae.b6f79","group":"5e8232d2.1bf57c","order":2,"width":3,"height":1,"name":"","label":"Value","format":"{{msg.payload|number:3}}","layout":"row-spread","x":910,"y":880,"wires":[]},{"id":"5a212043.72959","type":"ui_button","z":"e8d72bfd.3d5578","name":"","group":"2c8f1b5f.d2f494","order":14,"width":4,"height":1,"passthru":false,"label":"Charge","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":1000,"wires":[["1675602a.01efd","a361b0fe.8c02b"]]},{"id":"1675602a.01efd","type":"change","z":"e8d72bfd.3d5578","name":"0.75","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.75","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":980,"wires":[["dbf76796.9d26c8"]]},{"id":"a361b0fe.8c02b","type":"change","z":"e8d72bfd.3d5578","name":"0.9","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.9","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1020,"wires":[["8bf468bd.c41ad8"]]},{"id":"6252237e.aba5fc","type":"ui_button","z":"e8d72bfd.3d5578","name":"","group":"2c8f1b5f.d2f494","order":15,"width":4,"height":1,"passthru":false,"label":"Discharge","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":1080,"wires":[["f6a2c62b.8037d8","cf52a2b7.74c8a"]]},{"id":"f6a2c62b.8037d8","type":"change","z":"e8d72bfd.3d5578","name":"0.1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1060,"wires":[["dbf76796.9d26c8"]]},{"id":"cf52a2b7.74c8a","type":"change","z":"e8d72bfd.3d5578","name":"0.25","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.25","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1100,"wires":[["8bf468bd.c41ad8"]]},{"id":"9f1b0261.e832f","type":"change","z":"e8d72bfd.3d5578","name":"normalise","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload/100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":940,"wires":[["dbf76796.9d26c8","8bf468bd.c41ad8"]]},{"id":"be200a27.3ed508","type":"ui_button","z":"e8d72bfd.3d5578","name":"","group":"fb4def7d.6655c","order":4,"width":2,"height":1,"passthru":true,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"fa-trash","payload":"http://127.0.0.1:8888/sources/8/dashboards/5?refresh=5","payloadType":"str","topic":"","x":90,"y":580,"wires":[["400abb2c.7c9cd4"]]},{"id":"400abb2c.7c9cd4","type":"change","z":"e8d72bfd.3d5578","name":"[]","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":520,"wires":[["7a19d0bf.61908"]]},{"id":"6cba38d1.b85bd8","type":"debug","z":"e8d72bfd.3d5578","name":"mqtt out","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":300,"y":1660,"wires":[]},{"id":"a4772cf3.57663","type":"mqtt in","z":"e8d72bfd.3d5578","name":"","topic":"gBMS1/#","qos":"2","datatype":"auto","broker":"1872f8d8.cb4a97","x":100,"y":1600,"wires":[["6cba38d1.b85bd8"]]},{"id":"635f6b57.c0d704","type":"mongodb in","z":"e8d72bfd.3d5578","d":true,"mongodb":"346d997e.2ff0c6","name":"find","collection":"latest","operation":"find","x":130,"y":1540,"wires":[["b1df54a6.ef90d8"]]},{"id":"81d0f68e.6fd448","type":"inject","z":"e8d72bfd.3d5578","name":"test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"useUnifiedTopology\":true}","payloadType":"json","x":310,"y":1480,"wires":[["635f6b57.c0d704","3ad63a16.7829e6"]]},{"id":"b1df54a6.ef90d8","type":"debug","z":"e8d72bfd.3d5578","name":"lalest db","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":1600,"wires":[]},{"id":"3ad63a16.7829e6","type":"influxdb in","z":"e8d72bfd.3d5578","influxdb":"6f035a17.dc8e24","name":"select","query":"select mean(\"field-value\") from socPercent where \"tag-sensor\" = 'gBMS1' and time > now() - 5m group by time(1m)","rawOutput":false,"precision":"","retentionPolicy":"","org":"","x":310,"y":1540,"wires":[["b1df54a6.ef90d8"]]},{"id":"767f874c.c61b48","type":"mqtt in","z":"e8d72bfd.3d5578","name":"","topic":"telegraf/#","qos":"2","datatype":"auto","broker":"a63afe73.3adb","x":700,"y":340,"wires":[["78877c1e.bf6ae4"]]},{"id":"78877c1e.bf6ae4","type":"debug","z":"e8d72bfd.3d5578","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":400,"wires":[]},{"id":"fe0b21f9.1342d","type":"influxdb in","z":"e8d72bfd.3d5578","influxdb":"12ac0f34.b7da41","name":"last SoC%","query":"SELECT last(\"SoC%\") FROM \"localhost\"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":710,"y":400,"wires":[["78877c1e.bf6ae4"]]},{"id":"6526400b.6faee","type":"inject","z":"e8d72bfd.3d5578","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":470,"y":400,"wires":[["fe0b21f9.1342d"]]},{"id":"8f407270.9d49","type":"ui_button","z":"e8d72bfd.3d5578","name":"open graphs","group":"fb4def7d.6655c","order":6,"width":1,"height":1,"passthru":true,"label":"","tooltip":"","color":"yellow","bgcolor":"","icon":"fa-line-chart","payload":"http://127.0.0.1:8888/sources/8/dashboards/5?refresh=5","payloadType":"str","topic":"","x":110,"y":1260,"wires":[["b05ab3b6.a21e2","bfd4e901.dc99d8"]]},{"id":"b05ab3b6.a21e2","type":"exec","z":"e8d72bfd.3d5578","command":"start \"\" \"\"C:\\Users\\alino\\Programmi\\PortableApps\\GoogleChromePortable\\GoogleChromePortable.exe\"\"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"open Chrome","x":280,"y":1260,"wires":[[],[],[]]},{"id":"bfd4e901.dc99d8","type":"exec","z":"e8d72bfd.3d5578","d":true,"command":"start","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":250,"y":1200,"wires":[[],[],[]]},{"id":"a4e9bb20.765b58","type":"ui_template","z":"532ca053.60cb3","group":"608d6236.77a63c","name":"hybuild banner","order":2,"width":0,"height":0,"format":"<!--img src=\"/logo/logo_hybuild.png\" style=\"background-color:white;\"-->\n<img src=\"http://www.hybuild.eu/wp-content/uploads/2017/12/Logo-2-full-04-768x274.png\" style=\"background-color:white;\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1060,"y":140,"wires":[[]]},{"id":"98834c34.1d7e","type":"ui_gauge","z":"532ca053.60cb3","name":"","group":"608d6236.77a63c","order":10,"width":3,"height":3,"gtype":"gage","title":"Solar radiance","label":"W/m2","format":"{{msg.payload.data[0].solar_rad}}","min":"0","max":"1000","colors":["#e1ca00","#ff8000","#ca3838"],"seg1":"200","seg2":"400","x":740,"y":140,"wires":[]},{"id":"ff02b27c.79ca5","type":"change","z":"532ca053.60cb3","name":"battery->buffer","rules":[{"t":"set","p":"payload","pt":"msg","to":"BUFFER","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1000,"wires":[["9c8698d8.1ad6d8"]]},{"id":"fecc67d9.295df8","type":"ui_gauge","z":"532ca053.60cb3","name":"","group":"608d6236.77a63c","order":8,"width":3,"height":3,"gtype":"gage","title":"External temp.","label":"C","format":"{{msg.payload.data[0].temp}}","min":"-20","max":"50","colors":["#0092b5","#00b500","#ca3838"],"seg1":"10","seg2":"30","x":740,"y":100,"wires":[]},{"id":"dfb8ac0.8e27158","type":"ui_template","z":"532ca053.60cb3","group":"608d6236.77a63c","name":"HYBUILD logo","order":1,"width":0,"height":0,"format":"<style>\n    .md-toolbar-tools{\n        background-image: url(\"/logo/logo_hybuild-white.png\");\n        background-repeat: no-repeat;\n        background-position: center;\n        background-size: contain;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":1060,"y":40,"wires":[[]]},{"id":"41fed7b7.3733d8","type":"ui_form","z":"5f633a28.607134","name":"","label":"","group":"1c8caf2a.e3fe11","order":2,"width":0,"height":0,"options":[{"label":"City","value":"city","type":"text","required":false,"rows":null},{"label":"Latitude","value":"lat","type":"number","required":false,"rows":null},{"label":"Longitude","value":"lon","type":"number","required":false,"rows":null}],"formValue":{"city":"","lat":"","lon":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","x":290,"y":220,"wires":[["22eff25b.f1762e","3154c0fc.ee059"]]},{"id":"6df6f5f1.3101cc","type":"ui_chart","z":"5f633a28.607134","name":"","group":"8d0da046.a7073","order":5,"width":0,"height":0,"label":"Forecast","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"Next 48 hours","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":880,"y":340,"wires":[[]]},{"id":"de907982.785868","type":"json","z":"5f633a28.607134","name":"","property":"payload","action":"","pretty":false,"x":670,"y":240,"wires":[["ab1fed97.be716"]]},{"id":"668defa9.ff19d","type":"split","z":"5f633a28.607134","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":300,"wires":[["6391b55c.a4114c","716a4c7c.80efd4","ae6e8722.d53698","851cf703.f50858","35a1cc71.cc84a4"]]},{"id":"ab1fed97.be716","type":"change","z":"5f633a28.607134","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":300,"wires":[["668defa9.ff19d"]]},{"id":"6391b55c.a4114c","type":"change","z":"5f633a28.607134","name":"rad. forecast","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp_utc","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.solar_rad/100","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"solar rad. (hW/m^2)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":380,"wires":[["6df6f5f1.3101cc"]]},{"id":"d0c83630.bb4d08","type":"comment","z":"5f633a28.607134","name":"max 500 calls/day","info":"","x":470,"y":120,"wires":[]},{"id":"b2107a02.e13168","type":"json","z":"5f633a28.607134","name":"","property":"payload","action":"","pretty":false,"x":670,"y":200,"wires":[["f95d1d7d.17d5d","b7e7204d.a7c","7388064b.7ff1b8","ea7c4fd8.1c288","b43e5c62.55649"]]},{"id":"716a4c7c.80efd4","type":"change","z":"5f633a28.607134","name":"tem. forecast","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp_utc","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"temp. (C)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":340,"wires":[["6df6f5f1.3101cc"]]},{"id":"3e31060c.35f79a","type":"ui_dropdown","z":"5f633a28.607134","name":"","label":"Demo site","tooltip":"","place":"Select option","group":"1c8caf2a.e3fe11","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Aglantzia","value":"35.153,33.397","type":"str"},{"label":"Almatret","value":"41.305,0.427","type":"str"},{"label":"Langenwang","value":"47.568,15.615","type":"str"}],"payload":"","topic":"","x":120,"y":120,"wires":[["36bf706e.82da3"]]},{"id":"3154c0fc.ee059","type":"http request","z":"5f633a28.607134","name":"WB current","method":"GET","ret":"txt","paytoqs":"query","url":"https://api.weatherbit.io/v2.0/current?key=1ce2285c8a0d4bf1b48940524d201e24","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":200,"wires":[["b2107a02.e13168"]]},{"id":"22eff25b.f1762e","type":"http request","z":"5f633a28.607134","name":"WB forecast","method":"GET","ret":"txt","paytoqs":"query","url":"https://api.weatherbit.io/v2.0/forecast/hourly?key=1ce2285c8a0d4bf1b48940524d201e24&hours=48","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":240,"wires":[["de907982.785868","a6d3101a.4b841"]]},{"id":"a6d3101a.4b841","type":"change","z":"5f633a28.607134","name":"clear graph","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":300,"wires":[["6df6f5f1.3101cc"]]},{"id":"e2a7abf2.9994c8","type":"ui_text","z":"5f633a28.607134","group":"8d0da046.a7073","order":1,"width":5,"height":1,"name":"Location","label":"","format":"{{msg.payload.data[0].city_name}} {{msg.payload.data[0].country_code}}","layout":"row-left","x":880,"y":120,"wires":[]},{"id":"4e0512e9.33572c","type":"ui_text","z":"5f633a28.607134","group":"8d0da046.a7073","order":4,"width":5,"height":1,"name":"Weather icon","label":"{{msg.payload.data[0].weather.description}}","format":"<img alt=\"Select location\" src=\"https://www.weatherbit.io/static/img/icons/{{msg.payload.data[0].weather.icon}}.png\"/>","layout":"row-spread","x":890,"y":160,"wires":[]},{"id":"46bb0c23.e62ca4","type":"ui_gauge","z":"5f633a28.607134","name":"","group":"8d0da046.a7073","order":3,"width":2,"height":2,"gtype":"gage","title":"Irradiance","label":"W/m2","format":"{{msg.payload.data[0].solar_rad}}","min":"0","max":"1000","colors":["#e1ca00","#ff8000","#ca3838"],"seg1":"200","seg2":"400","x":880,"y":80,"wires":[]},{"id":"b9b2fcb1.a0896","type":"ui_gauge","z":"5f633a28.607134","name":"","group":"8d0da046.a7073","order":2,"width":2,"height":2,"gtype":"gage","title":"Temperature","label":"C","format":"{{msg.payload.data[0].temp}}","min":"-20","max":"50","colors":["#0092b5","#00b500","#ca3838"],"seg1":"10","seg2":"30","x":890,"y":40,"wires":[]},{"id":"b4e7ea6.0c91718","type":"http request","z":"532ca053.60cb3","name":"WB Langenwang","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.weatherbit.io/v2.0/current?key=1ce2285c8a0d4bf1b48940524d201e24&lat=47.568&lon=15.615","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":140,"wires":[["e6e46b9f.f9a9a8"]]},{"id":"e6e46b9f.f9a9a8","type":"json","z":"532ca053.60cb3","name":"","property":"payload","action":"","pretty":false,"x":530,"y":140,"wires":[["fecc67d9.295df8","98834c34.1d7e","7f45c053.03917"]]},{"id":"d6815be4.f436a8","type":"ui_text","z":"532ca053.60cb3","group":"608d6236.77a63c","order":15,"width":4,"height":1,"name":"Powered by","label":"<font size=0.75>Powered by ","format":"<img src=\"/logo/Engineering_logo.png\" style=\"background-color:white;\" height=\"18\"/>","layout":"row-right","x":1050,"y":180,"wires":[]},{"id":"7a0ec3a7.b5cdac","type":"http in","z":"532ca053.60cb3","name":"","url":"/telegraf","method":"post","upload":false,"swaggerDoc":"","x":130,"y":40,"wires":[["410031a4.bb43a"]]},{"id":"5201bab1.dbc344","type":"debug","z":"532ca053.60cb3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload.fields","targetType":"msg","statusVal":"payload","statusType":"auto","x":750,"y":40,"wires":[]},{"id":"410031a4.bb43a","type":"json","z":"532ca053.60cb3","name":"","property":"payload","action":"","pretty":false,"x":290,"y":40,"wires":[["119d36f8.a27009"]]},{"id":"f95d1d7d.17d5d","type":"ui_gauge","z":"5f633a28.607134","d":true,"name":"","group":"8d0da046.a7073","order":6,"width":2,"height":2,"gtype":"gage","title":"GHI","label":"W/m2","format":"{{msg.payload.data[0].ghi}}","min":"0","max":"1000","colors":["#e1ca00","#ff8000","#ca3838"],"seg1":"200","seg2":"400","x":870,"y":200,"wires":[]},{"id":"7388064b.7ff1b8","type":"ui_gauge","z":"5f633a28.607134","d":true,"name":"","group":"8d0da046.a7073","order":7,"width":2,"height":2,"gtype":"gage","title":"DHI","label":"W/m2","format":"{{msg.payload.data[0].dhi}}","min":"0","max":"1000","colors":["#e1ca00","#ff8000","#ca3838"],"seg1":"200","seg2":"400","x":870,"y":240,"wires":[]},{"id":"ea7c4fd8.1c288","type":"ui_gauge","z":"5f633a28.607134","d":true,"name":"","group":"8d0da046.a7073","order":8,"width":2,"height":2,"gtype":"gage","title":"DNI","label":"W/m2","format":"{{msg.payload.data[0].dni}}","min":"0","max":"1000","colors":["#e1ca00","#ff8000","#ca3838"],"seg1":"200","seg2":"400","x":870,"y":280,"wires":[]},{"id":"851cf703.f50858","type":"change","z":"5f633a28.607134","name":"DHI forecast","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp_utc","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.dhi/100","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"DHI (hW/m^2)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":460,"wires":[[]]},{"id":"ae6e8722.d53698","type":"change","z":"5f633a28.607134","name":"DNI forecast","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp_utc","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.dni/100","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"DNI (hW/m^2)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":500,"wires":[[]]},{"id":"35a1cc71.cc84a4","type":"change","z":"5f633a28.607134","name":"GHI forecast","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload.timestamp_utc","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.ghi/100","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"GHI (hW/m^2)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":420,"wires":[[]]},{"id":"ccfca4fb.733718","type":"ui_ui_control","z":"5f633a28.607134","name":"","events":"all","x":120,"y":40,"wires":[["8485adad.d9d18"]]},{"id":"8485adad.d9d18","type":"change","z":"5f633a28.607134","name":"Langenwang","rules":[{"t":"set","p":"payload","pt":"msg","to":"47.568,15.615","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":40,"wires":[["3e31060c.35f79a","36bf706e.82da3"]]},{"id":"b7e7204d.a7c","type":"change","z":"5f633a28.607134","name":"set lat,lon","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"lat\": payload.data[0].lat, \"lon\": payload.data[0].lon}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":240,"wires":[["41fed7b7.3733d8"]]},{"id":"7edb8afa.cc2254","type":"change","z":"5f633a28.607134","name":"clear city","rules":[{"t":"set","p":"payload.city","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":200,"wires":[["41fed7b7.3733d8"]]},{"id":"7342b5c4.b1655c","type":"rbe","z":"5f633a28.607134","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":470,"y":40,"wires":[["3e31060c.35f79a","36bf706e.82da3"]]},{"id":"b43e5c62.55649","type":"switch","z":"5f633a28.607134","name":"exists?","property":"msg.payload.data[0]","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":120,"wires":[["4e0512e9.33572c","b9b2fcb1.a0896","46bb0c23.e62ca4","e2a7abf2.9994c8"]]},{"id":"cd31692c.0a2578","type":"exec","z":"b2d8887b.fa344","command":"apps\\run_mosquitto.bat -v","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":370,"y":120,"wires":[["100aca98.ecc145","8cecade5.8067f"],["100aca98.ecc145"],["ea17fa8e.65a4d8"]]},{"id":"747401e0.80fe88","type":"inject","z":"b2d8887b.fa344","name":"start","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":120,"wires":[["cd31692c.0a2578"]]},{"id":"641caab2.07711c","type":"inject","z":"b2d8887b.fa344","name":"stop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":200,"wires":[["1a997219.0538fe"]]},{"id":"1a997219.0538fe","type":"change","z":"b2d8887b.fa344","name":"","rules":[{"t":"set","p":"kill","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":200,"wires":[["cd31692c.0a2578"]]},{"id":"99024603.3601e8","type":"function","z":"b2d8887b.fa344","d":true,"name":"add ts","func":"js_obj      = msg.payload;\n\nvar d       = new Date();\nvar jstime  = d.getTime();\nvar time    = (d.getHours()) + \":\" + d.getMinutes();\nvar date    = d.getDate() + \".\" + (d.getMonth()+1) + \".\" + (d.getFullYear());\n\njs_obj.timestamp = jstime;\njs_obj.timedate  = time + ' ' + date ;\n\nmsg.payload = js_obj ;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":960,"wires":[["7d8d17fe.98adc"]]},{"id":"f6cbee6d.01b758","type":"template","z":"b2d8887b.fa344","d":true,"name":"html","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<table border=\"1\">\n    \n    \n    <thead>\n        <tr>\n            <th colspan=\"3\">{{topic}}</th>\n        </tr>\n    </thead>\n    \n    \n    <tr>\n        <th>Message</th>\n        <th>Confirm</th>\n        <th>Time & Date</th>\n\n    </tr>\n    {{#payload}}\n        <tr class=\"\">\n            <td>{{msg}}</td>            \n            <td>{{confirm}}</td>\n            <td>{{timedate}}</td>\n        </tr>\n    {{/payload}}\n</table>\n","output":"str","x":890,"y":960,"wires":[[]]},{"id":"7d8d17fe.98adc","type":"function","z":"b2d8887b.fa344","d":true,"name":"Cr/Upd msg_events","func":"var msg_obj       = msg.payload ;\nvar arr_msgs = flow.get(\"msg_events\", 'memoryOnly');\n\nif (arr_msgs===undefined ) {\n    // Create an empty array if it does not exist yet\n    arr_msgs = [];\n    //arr_msgs.push(msg_obj) ; \n        if (msg_obj !== \"1\") {\n            arr_msgs.push(msg_obj);\n            flow.set(\"msg_events\",arr_msgs, 'memoryOnly');\n        }\n    \n//    return msg ;\n\n} else {\n        // This is a new user, save and return in the first port\n        if (msg_obj !== \"1\") {\n            arr_msgs.push(msg_obj);\n            flow.set(\"msg_events\",arr_msgs, 'memoryOnly');\n        }\n} \nmsg.payload = flow.get(\"msg_events\", 'memoryOnly');\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":960,"wires":[["c748be29.1c57"]]},{"id":"7311ad45.6cf814","type":"function","z":"b2d8887b.fa344","d":true,"name":"topic & 10","func":"var arr = msg.payload ;\n\nvar i   = 10;\nif(typeof arr === undefined) {\n    return ;\n} else {\n    msg.payload = arr.slice(0, 10);    \n    msg.topic = 'The Last Ten Messages :';\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":960,"wires":[["f6cbee6d.01b758"]]},{"id":"c748be29.1c57","type":"change","z":"b2d8887b.fa344","d":true,"name":"sort","rules":[{"t":"set","p":"payload","pt":"msg","to":"($sort(payload,function($l , $r){$l.timestamp < $r.timestamp }) )","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":960,"wires":[["7311ad45.6cf814"]]},{"id":"71042ec8.03b8","type":"mqtt in","z":"d138efdf.34a1c","name":"","topic":"#","qos":"2","datatype":"auto","broker":"a63afe73.3adb","x":90,"y":80,"wires":[["3d249120.0fbd3e","20a954d9.f2f0dc"]]},{"id":"3d249120.0fbd3e","type":"debug","z":"d138efdf.34a1c","name":"MQTT # RAW","active":false,"console":"false","complete":"payload","x":560,"y":80,"wires":[]},{"id":"20a954d9.f2f0dc","type":"function","z":"d138efdf.34a1c","name":"Store and shift msg","func":"// initialise to empty array if it doesn't exist already\nvar text = context.get('text') || [];\nnode.status(msg.topic + \":\" + msg.payload)\n\ntext.push(msg);\nif (text.length == 10){ //20\n    text.shift();\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":120,"wires":[["3d579e42.7752f2","2ca9228b.45383e"]]},{"id":"3d579e42.7752f2","type":"debug","z":"d138efdf.34a1c","name":"mqtt array","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":120,"wires":[]},{"id":"f434b5d3.a0aeb8","type":"mqtt out","z":"d138efdf.34a1c","name":"","topic":"","qos":"","retain":"","broker":"a63afe73.3adb","x":530,"y":260,"wires":[]},{"id":"b3523af4.af9998","type":"function","z":"d138efdf.34a1c","name":"Store and Submit","func":"context.msg = context.msg || {};\n\nswitch (msg.topic){\n    case 'message':\n        context.msg.payload = msg.payload;\n        node.status(context.msg.topic + \":\" + context.msg.payload)\n        break;\n    case 'topic':\n        context.msg.topic = msg.payload;\n        node.status(context.msg.topic + \":\" + context.msg.payload)\n        break;\n    case 'submit':\n        if(context.msg.topic){\n            node.status(\">>> \" + context.msg.topic + \":\" + context.msg.payload)\n            return context.msg;\n        }else{\n            context.msg.topic=\"#\"; // set default topic\n            node.status(\">>> \" + context.msg.topic + \":\" + context.msg.payload)\n            return context.msg;\n        }\n}","outputs":"1","noerr":0,"initialize":"","finalize":"","x":310,"y":220,"wires":[["f434b5d3.a0aeb8","927781aa.8fe2a"]]},{"id":"927781aa.8fe2a","type":"debug","z":"d138efdf.34a1c","name":"MQTT Monitor","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":220,"wires":[]},{"id":"b2c83928.285d58","type":"comment","z":"d138efdf.34a1c","name":"MQTT Console","info":"This flow demonstrates how to view MQTT data\n\nIt is also a nice demonstration how you can\nuse an array to shift data into the UI template\n\n\nUI Viewable:\nhttp://localhost:1880/ui\n\nWritten by\nCory Guynn\n2016\nwww.InternetOfLEG0.com","x":120,"y":40,"wires":[]},{"id":"f0aeefa0.31dfc","type":"status","z":"d138efdf.34a1c","name":"","scope":["71042ec8.03b8"],"x":100,"y":300,"wires":[["a1bd9dc8.1516f"]]},{"id":"a1bd9dc8.1516f","type":"function","z":"d138efdf.34a1c","name":"extract status","func":"node.status(msg.status.text)\nmsg.payload = msg.status.text.substring(msg.status.text.lastIndexOf(\".\")+1,msg.status.text.length)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":340,"wires":[["5f19c77c.40f718"]]},{"id":"ac59b5fa.e984b8","type":"ui_button","z":"d138efdf.34a1c","name":"Submit","group":"c386966d.47a758","order":4,"width":5,"height":1,"passthru":false,"label":"SUBMIT","tooltip":"","color":"black","bgcolor":"","icon":"fa-arrow-circle-o-up","payload":"submit","payloadType":"str","topic":"submit","x":90,"y":260,"wires":[["b3523af4.af9998"]]},{"id":"1df0a421.0b24dc","type":"ui_button","z":"d138efdf.34a1c","name":"Clear","group":"c386966d.47a758","order":5,"width":5,"height":1,"passthru":false,"label":"CLEAR","tooltip":"","color":"black","bgcolor":"","icon":"fa-trash","payload":"hybuild\\test","payloadType":"str","topic":"","x":90,"y":140,"wires":[["ce609ce8.f3def","a7f17a2d.0874c8"]]},{"id":"a7f17a2d.0874c8","type":"ui_text_input","z":"d138efdf.34a1c","name":"Message","label":"Message","tooltip":"","group":"c386966d.47a758","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"message","x":100,"y":220,"wires":[["b3523af4.af9998"]]},{"id":"ce609ce8.f3def","type":"ui_text_input","z":"d138efdf.34a1c","name":"Topic","label":"Topic/","tooltip":"","group":"c386966d.47a758","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","x":90,"y":180,"wires":[["b3523af4.af9998"]]},{"id":"2ca9228b.45383e","type":"ui_template","z":"d138efdf.34a1c","group":"c386966d.47a758","name":"MQTT Output","order":1,"width":12,"height":8,"format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":560,"y":160,"wires":[[]]},{"id":"5f19c77c.40f718","type":"change","z":"d138efdf.34a1c","name":"","rules":[{"t":"set","p":"ui_control.icon","pt":"msg","to":"payload=\"connected\"?\"fa-wifi fa-2x\":\"fa-warning fa-2x\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":340,"wires":[["fe13bcb.4653a4"]]},{"id":"b5d3938d.10cbd","type":"ui_ui_control","z":"d138efdf.34a1c","name":"refresh","events":"all","x":930,"y":300,"wires":[[]]},{"id":"fe13bcb.4653a4","type":"ui_button","z":"d138efdf.34a1c","name":"","group":"c386966d.47a758","order":6,"width":2,"height":1,"passthru":false,"label":"","tooltip":"Start MQTT broker","color":"#3FADB5","bgcolor":"transparent","icon":"fa-warning fa-2x","payload":"{\"tab\":\"Process Manager\"}","payloadType":"json","topic":"","x":750,"y":340,"wires":[["b5d3938d.10cbd"]]},{"id":"79fb4f52.2ad53","type":"ui_button","z":"b2d8887b.fa344","name":"mqtt start","group":"2dee2e04.7cf00a","order":2,"width":1,"height":1,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"play_arrow","payload":"","payloadType":"str","topic":"","x":120,"y":80,"wires":[["cd31692c.0a2578","90799e5f.db014","b41d16b1.c705a8"]]},{"id":"90799e5f.db014","type":"ui_button","z":"b2d8887b.fa344","name":"mqtt stop","group":"2dee2e04.7cf00a","order":3,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"pause","payload":"","payloadType":"str","topic":"","x":120,"y":160,"wires":[["1a997219.0538fe"]]},{"id":"89acc0d7.2f99","type":"change","z":"d138efdf.34a1c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":280,"wires":[[]]},{"id":"94ef5cb9.c761e","type":"ui_button","z":"b2d8887b.fa344","name":"mqtt kill","group":"2dee2e04.7cf00a","order":4,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"stop","payload":"","payloadType":"str","topic":"","x":120,"y":240,"wires":[["6ef27d76.6871d4"]]},{"id":"6ef27d76.6871d4","type":"exec","z":"b2d8887b.fa344","command":"taskkill /f /im mosquitto.exe /t","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":380,"y":260,"wires":[["100aca98.ecc145"],["100aca98.ecc145"],[]]},{"id":"5db11fdd.b0ad6","type":"inject","z":"b2d8887b.fa344","name":"kill","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":280,"wires":[["6ef27d76.6871d4"]]},{"id":"6d4570b9.383a1","type":"aedes broker","z":"d138efdf.34a1c","d":true,"name":"","mqtt_port":1883,"mqtt_ws_port":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":130,"y":440,"wires":[["add64895.54e638"]]},{"id":"add64895.54e638","type":"debug","z":"d138efdf.34a1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":440,"wires":[]},{"id":"ddae30dc.8aff5","type":"inject","z":"b2d8887b.fa344","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":110,"y":40,"wires":[["79fb4f52.2ad53"]]},{"id":"bbd0f137.dd746","type":"ui_text","z":"b2d8887b.fa344","group":"2dee2e04.7cf00a","order":1,"width":5,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":60,"wires":[]},{"id":"ea17fa8e.65a4d8","type":"change","z":"b2d8887b.fa344","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"<font color=\"red\">STOPPED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":120,"wires":[["bbd0f137.dd746"]]},{"id":"b41d16b1.c705a8","type":"change","z":"b2d8887b.fa344","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"<font color=\"green\">RUNNING","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":60,"wires":[["bbd0f137.dd746"]]},{"id":"100aca98.ecc145","type":"function","z":"b2d8887b.fa344","name":"Store and shift msg","func":"var text = context.get('text') || [];\ntext.push(msg.payload);\nif (text.length == 20) text.shift();\ncontext.set('text',text);\nreturn {payload:text};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":200,"wires":[["465c95ae.4cb06c"]]},{"id":"465c95ae.4cb06c","type":"ui_template","z":"b2d8887b.fa344","group":"2dee2e04.7cf00a","name":"mqtt broker out","order":5,"width":8,"height":9,"format":"<div ng-repeat=\"x in msg.payload\">{{x}}</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":700,"y":260,"wires":[[]]},{"id":"b469b15e.b7bbb","type":"exec","z":"b2d8887b.fa344","command":"apps\\run_telegraf.bat","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":380,"y":420,"wires":[["ca93ea54.525f08","9ad778bc.b59db8"],["ca93ea54.525f08","9ad778bc.b59db8"],["190a99b3.2aeec6"]]},{"id":"4b4812a8.01954c","type":"inject","z":"b2d8887b.fa344","name":"start","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":420,"wires":[["b469b15e.b7bbb"]]},{"id":"89d57cee.5f6ba","type":"inject","z":"b2d8887b.fa344","name":"stop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":500,"wires":[["47d7270b.4c7928"]]},{"id":"47d7270b.4c7928","type":"change","z":"b2d8887b.fa344","name":"","rules":[{"t":"set","p":"kill","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":500,"wires":[["b469b15e.b7bbb"]]},{"id":"6aaf2d49.ef7444","type":"ui_button","z":"b2d8887b.fa344","name":"telegraf start","group":"b18f8cf4.3f5dd","order":2,"width":1,"height":1,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"play_arrow","payload":"","payloadType":"str","topic":"","x":110,"y":380,"wires":[["b469b15e.b7bbb","ef26f984.cea3c8","f9977aee.3cabc8"]]},{"id":"ef26f984.cea3c8","type":"ui_button","z":"b2d8887b.fa344","name":"telegraf stop","group":"b18f8cf4.3f5dd","order":3,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"pause","payload":"","payloadType":"str","topic":"","x":110,"y":460,"wires":[["47d7270b.4c7928"]]},{"id":"37947165.043a2e","type":"ui_button","z":"b2d8887b.fa344","name":"telegraf kill","group":"b18f8cf4.3f5dd","order":4,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"stop","payload":"","payloadType":"str","topic":"","x":110,"y":540,"wires":[["d55c5ac.c0ec6a8"]]},{"id":"d55c5ac.c0ec6a8","type":"exec","z":"b2d8887b.fa344","command":"taskkill /f /im telegraf.exe /t","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":380,"y":560,"wires":[["ca93ea54.525f08"],["ca93ea54.525f08"],[]]},{"id":"1c42fc4d.ea68c4","type":"inject","z":"b2d8887b.fa344","name":"kill","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":580,"wires":[["d55c5ac.c0ec6a8"]]},{"id":"57ad808e.1db64","type":"inject","z":"b2d8887b.fa344","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":110,"y":340,"wires":[["6aaf2d49.ef7444"]]},{"id":"978685b9.3c32a8","type":"ui_text","z":"b2d8887b.fa344","group":"b18f8cf4.3f5dd","order":1,"width":5,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":360,"wires":[]},{"id":"190a99b3.2aeec6","type":"change","z":"b2d8887b.fa344","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"<font color=\"red\">STOPPED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":420,"wires":[["978685b9.3c32a8"]]},{"id":"f9977aee.3cabc8","type":"change","z":"b2d8887b.fa344","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"<font color=\"green\">RUNNING","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":360,"wires":[["978685b9.3c32a8"]]},{"id":"ca93ea54.525f08","type":"function","z":"b2d8887b.fa344","name":"Store and shift msg","func":"var text = context.get('text') || [];\ntext.push(msg.payload);\nif (text.length > 200) text.shift();\ncontext.set('text',text);\nreturn {payload:text};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":500,"wires":[["247fee2f.d24e52"]]},{"id":"247fee2f.d24e52","type":"ui_template","z":"b2d8887b.fa344","group":"b18f8cf4.3f5dd","name":"telegraf out","order":5,"width":8,"height":9,"format":"<div ng-repeat=\"x in msg.payload\">{{x}}</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":690,"y":560,"wires":[[]]},{"id":"271ca346.e7a98c","type":"exec","z":"b2d8887b.fa344","command":"apps\\run_influxdb.bat","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":360,"y":720,"wires":[["57037974.9fe2b8","471858ad.cc0b28"],["57037974.9fe2b8"],["2acddc95.d3fb54"]]},{"id":"9f48b92f.c90a18","type":"inject","z":"b2d8887b.fa344","name":"start","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":720,"wires":[["271ca346.e7a98c"]]},{"id":"b1d60213.52b2e","type":"inject","z":"b2d8887b.fa344","name":"stop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":800,"wires":[["46c216d1.72b2f8"]]},{"id":"46c216d1.72b2f8","type":"change","z":"b2d8887b.fa344","name":"","rules":[{"t":"set","p":"kill","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":800,"wires":[["271ca346.e7a98c"]]},{"id":"4d6a8575.b069cc","type":"ui_button","z":"b2d8887b.fa344","name":"influxdb start","group":"d51a9639.3f7608","order":2,"width":1,"height":1,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"play_arrow","payload":"","payloadType":"str","topic":"","x":110,"y":680,"wires":[["271ca346.e7a98c","56734ebc.613e6","c435a1b3.3d3c7"]]},{"id":"56734ebc.613e6","type":"ui_button","z":"b2d8887b.fa344","name":"influxdb stop","group":"d51a9639.3f7608","order":3,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"pause","payload":"","payloadType":"str","topic":"","x":110,"y":760,"wires":[["46c216d1.72b2f8"]]},{"id":"671908f8.9a8448","type":"ui_button","z":"b2d8887b.fa344","name":"influxdb kill","group":"d51a9639.3f7608","order":4,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"stop","payload":"","payloadType":"str","topic":"","x":110,"y":840,"wires":[["19cd9252.35cbde"]]},{"id":"19cd9252.35cbde","type":"exec","z":"b2d8887b.fa344","command":"taskkill /f /im influxd.exe /t","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":370,"y":860,"wires":[["57037974.9fe2b8"],["57037974.9fe2b8"],[]]},{"id":"1c95a4c5.656c5b","type":"inject","z":"b2d8887b.fa344","name":"kill","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":880,"wires":[["19cd9252.35cbde"]]},{"id":"57ca42a5.cd22ec","type":"inject","z":"b2d8887b.fa344","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":110,"y":640,"wires":[["4d6a8575.b069cc"]]},{"id":"3778caf9.169976","type":"ui_text","z":"b2d8887b.fa344","group":"d51a9639.3f7608","order":1,"width":5,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":660,"wires":[]},{"id":"2acddc95.d3fb54","type":"change","z":"b2d8887b.fa344","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"<font color=\"red\">STOPPED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":720,"wires":[["3778caf9.169976"]]},{"id":"c435a1b3.3d3c7","type":"change","z":"b2d8887b.fa344","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"<font color=\"green\">RUNNING","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":660,"wires":[["3778caf9.169976"]]},{"id":"57037974.9fe2b8","type":"function","z":"b2d8887b.fa344","name":"Store and shift msg","func":"var text = context.get('text') || [];\ntext.push(msg.payload);\nif (text.length == 20) text.shift();\ncontext.set('text',text);\nreturn {payload:text};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":800,"wires":[["678c67ea.0e60d8"]]},{"id":"678c67ea.0e60d8","type":"ui_template","z":"b2d8887b.fa344","group":"d51a9639.3f7608","name":"influxdb out","order":5,"width":8,"height":9,"format":"<div ng-repeat=\"x in msg.payload\">{{x}}</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":690,"y":860,"wires":[[]]},{"id":"3221fdd3.aedd02","type":"OpcUa-Client","z":"c93792ae.b6f79","endpoint":"73586c37.402194","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":720,"y":920,"wires":[["bbc1e2e7.bc2a"]]},{"id":"7258b492.93bcec","type":"ui_form","z":"c93792ae.b6f79","name":"","label":"","group":"5e8232d2.1bf57c","order":3,"width":6,"height":3,"options":[{"label":"Node ID","value":"topic","type":"text","required":true,"rows":null},{"label":"Electrical/Thermal","value":"switch","type":"switch","required":false,"rows":null}],"formValue":{"topic":"","switch":false},"payload":"","submit":"read","cancel":"cancel","topic":"","x":90,"y":920,"wires":[["4e4e3a88.109564"]]},{"id":"4e0451fa.ee178","type":"switch","z":"c93792ae.b6f79","name":"","property":"switch","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":880,"wires":[["54d496d1.295dc8"],["3221fdd3.aedd02"]]},{"id":"a86508a.e12bdf8","type":"ui_text_input","z":"c93792ae.b6f79","name":"","label":"Host","tooltip":"","group":"ed90da37.9cbcc8","order":1,"width":3,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":690,"y":220,"wires":[["cfc03bd0.ea4808"]]},{"id":"cfc03bd0.ea4808","type":"change","z":"c93792ae.b6f79","name":"","rules":[{"t":"set","p":"opc.server.host","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":220,"wires":[[]]},{"id":"e12c5f50.bddda","type":"ui_text_input","z":"c93792ae.b6f79","name":"","label":"Port","tooltip":"","group":"ed90da37.9cbcc8","order":2,"width":2,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"","x":690,"y":260,"wires":[["98a55866.e5a208"]]},{"id":"98a55866.e5a208","type":"change","z":"c93792ae.b6f79","name":"","rules":[{"t":"set","p":"opc.server.port","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":260,"wires":[[]]},{"id":"d6101e3f.7a92c","type":"ui_text_input","z":"c93792ae.b6f79","name":"","label":"Path","tooltip":"","group":"ed90da37.9cbcc8","order":3,"width":5,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":690,"y":300,"wires":[["c2911ae3.04dd78"]]},{"id":"c2911ae3.04dd78","type":"change","z":"c93792ae.b6f79","name":"","rules":[{"t":"set","p":"opc.server.path","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":300,"wires":[[]]},{"id":"65b347ad.2c1b28","type":"ui_template","z":"c93792ae.b6f79","group":"2f456090.b65b8","name":"Browse","order":2,"width":10,"height":6,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <select ng-model=\"item\" ng-options=\"items.item.displayName.text for items in msg.payload\">\n        <option value=\"\">-- Objects Root --</option>\n    </select>\n    <button ng-click=\"send({payload: {actiontype: 'browse', root: item}})\">\n        Browse\n    </button>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <ul>\n        <li ng-repeat=\"items in msg.payload\">\n          {{items.item.displayName.text}}: {{items.item.nodeId}}\n        </li>\n    </ul>\n</div>\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":880,"y":460,"wires":[["8900d399.c2772","5de46a40.ce8374"]]},{"id":"184120e8.71fa8f","type":"ui_toast","z":"c93792ae.b6f79","position":"top right","displayTime":"2","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Browsing...","name":"Action","x":890,"y":400,"wires":[]},{"id":"5de46a40.ce8374","type":"OpcUa-Browser","z":"c93792ae.b6f79","endpoint":"73586c37.402194","item":"","datatype":"","topic":"","items":[],"x":890,"y":520,"wires":[["65b347ad.2c1b28"]]},{"id":"8900d399.c2772","type":"change","z":"c93792ae.b6f79","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.root.item.displayName.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":400,"wires":[["184120e8.71fa8f"]]},{"id":"115eb55.57aac4b","type":"ui_button","z":"c93792ae.b6f79","name":"","group":"1442117d.db6a0f","order":4,"width":0,"height":0,"passthru":true,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"opc.server.ip","payloadType":"flow","topic":"","x":90,"y":400,"wires":[["92b67d09.7d2b9"]]},{"id":"17246c4b.6093b4","type":"http request","z":"c93792ae.b6f79","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/flows","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":520,"wires":[["e3286049.36cb6"]]},{"id":"92b67d09.7d2b9","type":"file in","z":"c93792ae.b6f79","name":"","filename":"data/flows.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":260,"y":400,"wires":[["d38a1aac.5d07e8"]]},{"id":"d38a1aac.5d07e8","type":"json","z":"c93792ae.b6f79","name":"","property":"payload","action":"","pretty":false,"x":430,"y":400,"wires":[["97bfffad.6fb14"]]},{"id":"97bfffad.6fb14","type":"function","z":"c93792ae.b6f79","name":"set opc endpoint","func":"var host = flow.get(\"tc.server.host\");\nvar port = flow.get(\"tc.server.port\");\nvar path = flow.get(\"tc.server.path\");\n\nfor(var i = 0; i < msg.payload.length; i++)\n    //msg.payload[i].type == 'OpcUa-Endpoint'\n    if (msg.payload[i].id == \"73586c37.402194\") {\n        msg.payload[i].endpoint = 'opc.tcp://' + host + ':' + port;\n        if (path)\n            msg.payload[i].endpoint += \"/\" + path;\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":460,"wires":[["f1363ca0.4574a"]]},{"id":"3692c6e6.1770ea","type":"change","z":"c93792ae.b6f79","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Node-RED-Deployment-Type\":\"reload\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":520,"wires":[["17246c4b.6093b4"]]},{"id":"f1363ca0.4574a","type":"file","z":"c93792ae.b6f79","name":"","filename":"data/flows.json","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":460,"y":460,"wires":[["3692c6e6.1770ea"]]},{"id":"e3286049.36cb6","type":"file in","z":"c93792ae.b6f79","name":"","filename":"data/flows.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":260,"y":580,"wires":[["689a02f5.a0144c"]]},{"id":"689a02f5.a0144c","type":"json","z":"c93792ae.b6f79","name":"","property":"payload","action":"","pretty":false,"x":430,"y":580,"wires":[["9b2f5621.9fb358"]]},{"id":"9b2f5621.9fb358","type":"function","z":"c93792ae.b6f79","name":"parts","func":"var endpoint={};\nfor(var i = 0; i < msg.payload.length; i++)\n    //msg.payload[i].type == 'OpcUa-Endpoint'\n    if (msg.payload[i].id == \"73586c37.402194\") \n        endpoint=msg.payload[i].endpoint;\nvar hpp=endpoint.split('//')[1];\nvar host = hpp.split(':')[0]\npp=hpp.split(':')[1]\nvar port = Number(pp.split('/')[0])\nvar path = pp.includes('/') ? pp.substring(pp.indexOf('/') + 1) : \"\";\nreturn [{payload:endpoint}, {payload:host}, {payload:port}, {payload:path}]\n//return [endpoint, host, port, path]\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":550,"y":580,"wires":[["9fc3ce6d.418a6"],["55d9c3ce.9e8a5c"],["d50b4377.37405"],["e405abd2.69ef28"]]},{"id":"329c6b83.1ff0e4","type":"inject","z":"c93792ae.b6f79","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":90,"y":580,"wires":[["e3286049.36cb6"]]},{"id":"9fc3ce6d.418a6","type":"ui_text","z":"c93792ae.b6f79","group":"2f456090.b65b8","order":1,"width":0,"height":0,"name":"","label":"Endpoint","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":520,"wires":[]},{"id":"55d9c3ce.9e8a5c","type":"ui_text_input","z":"c93792ae.b6f79","name":"","label":"Host","tooltip":"","group":"1442117d.db6a0f","order":1,"width":3,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":690,"y":580,"wires":[["3b54923a.ea004e"]]},{"id":"3b54923a.ea004e","type":"change","z":"c93792ae.b6f79","name":"","rules":[{"t":"set","p":"tc.server.host","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":580,"wires":[[]]},{"id":"d50b4377.37405","type":"ui_text_input","z":"c93792ae.b6f79","name":"","label":"Port","tooltip":"","group":"1442117d.db6a0f","order":2,"width":2,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"","x":690,"y":620,"wires":[["d828146d.173c58"]]},{"id":"d828146d.173c58","type":"change","z":"c93792ae.b6f79","name":"","rules":[{"t":"set","p":"tc.server.port","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":620,"wires":[[]]},{"id":"e405abd2.69ef28","type":"ui_text_input","z":"c93792ae.b6f79","name":"","label":"Path","tooltip":"","group":"1442117d.db6a0f","order":3,"width":5,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":690,"y":660,"wires":[["4d7b78e3.603768"]]},{"id":"4d7b78e3.603768","type":"change","z":"c93792ae.b6f79","name":"","rules":[{"t":"set","p":"tc.server.path","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":660,"wires":[[]]},{"id":"956df266.1b48","type":"function","z":"c93792ae.b6f79","name":"parts","func":"var endpoint={};\nfor(var i = 0; i < msg.payload.length; i++)\n    //msg.payload[i].type == 'OpcUa-Endpoint'\n    if (msg.payload[i].id == \"f7d10f6f.7906d\") \n        endpoint=msg.payload[i].endpoint;\nvar hpp=endpoint.split('//')[1];\nvar host = hpp.split(':')[0]\npp=hpp.split(':')[1]\nvar port = Number(pp.split('/')[0])\nvar path = pp.includes('/') ? pp.substring(pp.indexOf('/') + 1) : \"\";\nreturn [{payload:endpoint}, {payload:host}, {payload:port}, {payload:path}]\n//return [endpoint, host, port, path]\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":550,"y":220,"wires":[["bfd2f5b.41cf908"],["a86508a.e12bdf8"],["e12c5f50.bddda"],["d6101e3f.7a92c"]]},{"id":"2de79e62.cb5332","type":"comment","z":"c93792ae.b6f79","name":"CSEM PLC","info":"","x":710,"y":100,"wires":[]},{"id":"e8a88afb.4f9708","type":"comment","z":"c93792ae.b6f79","name":"PINK PLC","info":"","x":700,"y":460,"wires":[]},{"id":"1bdc75c6.bd2bba","type":"function","z":"c93792ae.b6f79","name":"","func":"msg.payload={topic:msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":840,"wires":[["7258b492.93bcec"]]},{"id":"7e69fe9d.d181d","type":"ui_numeric","z":"532ca053.60cb3","name":"","label":"Winter extra heat","tooltip":"","group":"535806eb.698088","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}} C","min":0,"max":"50","step":1,"x":350,"y":1740,"wires":[["c7a9cf91.ce8a4"]]},{"id":"be9ad5d4.1e9dd8","type":"ui_numeric","z":"532ca053.60cb3","name":"","label":"Winter target temp","tooltip":"","group":"535806eb.698088","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}} C","min":"0","max":"50","step":1,"x":350,"y":1700,"wires":[["6d794915.bf6a58"]]},{"id":"13193838.59b7b8","type":"ui_numeric","z":"532ca053.60cb3","name":"","label":"Summer target temp","tooltip":"","group":"535806eb.698088","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}} C","min":"0","max":"50","step":1,"x":360,"y":1780,"wires":[["621b9b27.b7e0f4"]]},{"id":"4ffa6020.6fb91","type":"ui_numeric","z":"532ca053.60cb3","name":"","label":"Summer extra cool","tooltip":"","group":"535806eb.698088","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}} C","min":0,"max":"50","step":1,"x":350,"y":1820,"wires":[["9e944c76.ae"]]},{"id":"4e4e3a88.109564","type":"function","z":"c93792ae.b6f79","name":"msg=msg.payload","func":"\nreturn msg.payload;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":920,"wires":[["4e0451fa.ee178"]]},{"id":"8cecade5.8067f","type":"debug","z":"b2d8887b.fa344","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":160,"wires":[]},{"id":"9ad778bc.b59db8","type":"debug","z":"b2d8887b.fa344","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":460,"wires":[]},{"id":"471858ad.cc0b28","type":"debug","z":"b2d8887b.fa344","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":760,"wires":[]},{"id":"c0a2f80.a87a008","type":"ui_time_scheduler","z":"532ca053.60cb3","group":"4962ffad.48e6f","name":"","refresh":60,"devices":["Activation timers"],"customPayload":false,"eventMode":false,"outputs":2,"order":5,"width":0,"height":0,"x":530,"y":1380,"wires":[["ef11c701.cd9fa8"],["c7950633.b79f88"]]},{"id":"e15938d2.929f88","type":"ui_dropdown","z":"532ca053.60cb3","name":"","label":"Heating months","tooltip":"","place":"","group":"4962ffad.48e6f","order":12,"width":0,"height":0,"passthru":false,"multiple":true,"options":[{"label":"Jan","value":1,"type":"num"},{"label":"Feb","value":2,"type":"num"},{"label":"Mar","value":3,"type":"num"},{"label":"Apr","value":4,"type":"num"},{"label":"May","value":5,"type":"num"},{"label":"Jun","value":6,"type":"num"},{"label":"Jul","value":7,"type":"num"},{"label":"Aug","value":8,"type":"num"},{"label":"Sep","value":9,"type":"num"},{"label":"Oct","value":10,"type":"num"},{"label":"Nov","value":11,"type":"num"},{"label":"Dec","value":12,"type":"num"}],"payload":"","topic":"","x":360,"y":1540,"wires":[["f53c6158.0e5fa","82f52624.9b1b28"]]},{"id":"a2a236a8.9ec0c8","type":"ui_dropdown","z":"532ca053.60cb3","name":"","label":"Cooling months","tooltip":"","place":"","group":"4962ffad.48e6f","order":12,"width":0,"height":0,"passthru":false,"multiple":true,"options":[{"label":"Jan","value":1,"type":"num"},{"label":"Feb","value":2,"type":"num"},{"label":"Mar","value":3,"type":"num"},{"label":"Apr","value":4,"type":"num"},{"label":"May","value":5,"type":"num"},{"label":"Jun","value":6,"type":"num"},{"label":"Jul","value":7,"type":"num"},{"label":"Aug","value":8,"type":"num"},{"label":"Sep","value":9,"type":"num"},{"label":"Oct","value":10,"type":"num"},{"label":"Nov","value":11,"type":"num"},{"label":"Dec","value":12,"type":"num"}],"payload":"","topic":"","x":360,"y":1640,"wires":[["eb60a101.a612e","997d89bc.054ec8"]]},{"id":"ef11c701.cd9fa8","type":"file","z":"532ca053.60cb3","name":"WriteFile","filename":"data/pref/time-schedule0.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":720,"y":1360,"wires":[[]]},{"id":"7822012a.876838","type":"inject","z":"532ca053.60cb3","name":"FireAfterReboot","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1380,"wires":[["2920de2a.a86312","451a232c.5527fc"]]},{"id":"2920de2a.a86312","type":"file in","z":"532ca053.60cb3","name":"ReadFile","filename":"data/pref/time-schedule0.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":340,"y":1380,"wires":[["c0a2f80.a87a008"]]},{"id":"b97d29b2.539378","type":"comment","z":"e8d72bfd.3d5578","name":"telegraf alt","info":"","x":580,"y":660,"wires":[]},{"id":"451a232c.5527fc","type":"file in","z":"532ca053.60cb3","name":"user-settings.json","filename":"data/pref/user-settings.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":150,"y":1440,"wires":[["d24ef04e.3303c"]]},{"id":"a1464c86.c3617","type":"file","z":"532ca053.60cb3","name":"user-settings.json","filename":"data/pref/user-settings.json","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":910,"y":1840,"wires":[[]]},{"id":"b9719a44.3b0ff8","type":"change","z":"532ca053.60cb3","name":"winter.target","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.winter.target","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":1700,"wires":[["be9ad5d4.1e9dd8"]]},{"id":"2307ed87.eac002","type":"change","z":"532ca053.60cb3","name":"summer.target","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.summer.target","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":1780,"wires":[["13193838.59b7b8"]]},{"id":"93797b26.e7f628","type":"change","z":"532ca053.60cb3","name":"winter.extra","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.winter.extra","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":1740,"wires":[["7e69fe9d.d181d"]]},{"id":"df9c6602.cbb658","type":"change","z":"532ca053.60cb3","name":"summer.extra","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.summer.extra","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":1820,"wires":[["4ffa6020.6fb91"]]},{"id":"c891aabe.ed5c88","type":"change","z":"532ca053.60cb3","name":"winter.months","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.winter.months","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":1560,"wires":[["e15938d2.929f88"]]},{"id":"1be7d838.9e6b28","type":"change","z":"532ca053.60cb3","name":"summer.months","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.summer.months","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":1620,"wires":[["a2a236a8.9ec0c8"]]},{"id":"6d794915.bf6a58","type":"change","z":"532ca053.60cb3","name":"","rules":[{"t":"set","p":"settings.winter.target","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1700,"wires":[["963e0e74.55c3a"]]},{"id":"621b9b27.b7e0f4","type":"change","z":"532ca053.60cb3","name":"","rules":[{"t":"set","p":"settings.summer.target","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1780,"wires":[["963e0e74.55c3a"]]},{"id":"c7a9cf91.ce8a4","type":"change","z":"532ca053.60cb3","name":"","rules":[{"t":"set","p":"settings.winter.extra","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1740,"wires":[["963e0e74.55c3a"]]},{"id":"9e944c76.ae","type":"change","z":"532ca053.60cb3","name":"","rules":[{"t":"set","p":"settings.summer.extra","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1820,"wires":[["963e0e74.55c3a"]]},{"id":"f53c6158.0e5fa","type":"change","z":"532ca053.60cb3","name":"","rules":[{"t":"set","p":"settings.winter.months","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1540,"wires":[["963e0e74.55c3a"]]},{"id":"eb60a101.a612e","type":"change","z":"532ca053.60cb3","name":"","rules":[{"t":"set","p":"settings.summer.months","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1640,"wires":[["963e0e74.55c3a"]]},{"id":"d24ef04e.3303c","type":"json","z":"532ca053.60cb3","name":"","property":"payload","action":"","pretty":false,"x":110,"y":1500,"wires":[["b9719a44.3b0ff8","93797b26.e7f628","1be7d838.9e6b28","c891aabe.ed5c88","df9c6602.cbb658","2307ed87.eac002","88d12425.781db8","cbcc54a5.1f4658","1be5172.c3d77e9","6be1eb63.100714"]]},{"id":"88d12425.781db8","type":"change","z":"532ca053.60cb3","name":"","rules":[{"t":"set","p":"settings","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1500,"wires":[[]]},{"id":"963e0e74.55c3a","type":"change","z":"532ca053.60cb3","name":"write settings","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":1780,"wires":[["a1464c86.c3617"]]},{"id":"997d89bc.054ec8","type":"function","z":"532ca053.60cb3","name":"swap months","func":"var result = [];\nfor (let index = 1; index <= 12; index++) {\n  if (!msg.payload.includes(index))\n    result.push(index);\n}\nreturn {payload: result};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":1660,"wires":[["e15938d2.929f88","f53c6158.0e5fa"]]},{"id":"82f52624.9b1b28","type":"function","z":"532ca053.60cb3","name":"swap months","func":"var result = [];\nfor (let index = 1; index <= 12; index++) {\n  if (!msg.payload.includes(index))\n    result.push(index);\n}\nreturn {payload: result};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":1520,"wires":[["a2a236a8.9ec0c8","eb60a101.a612e"]]},{"id":"cbec8a05.a346b8","type":"http request","z":"532ca053.60cb3","name":"OWM Langenwang","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=47.568&lon=15.615&appid=5d9b18bce4098792ab570ca8ada71b71&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":180,"wires":[[]]},{"id":"a7c24675.92a348","type":"switch","z":"532ca053.60cb3","name":"winter?","property":"settings.winter.months","propertyType":"flow","rules":[{"t":"cont","v":"$number($now('[M]'))","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":1080,"wires":[["87d981b3.e2f6c"]]},{"id":"c7950633.b79f88","type":"switch","z":"532ca053.60cb3","name":"BEMS activated?","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":1400,"wires":[["877d9053.0c8ea"]]},{"id":"9e56655.33c0398","type":"switch","z":"532ca053.60cb3","name":"PCM not full?","property":"last.PCM.soc","propertyType":"flow","rules":[{"t":"lt","v":"settings.PCM.socMax","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":1080,"wires":[["a7c24675.92a348"]]},{"id":"360e8faa.210ca","type":"change","z":"532ca053.60cb3","name":"","rules":[{"t":"set","p":"settings.PCM.socMax","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1860,"wires":[["963e0e74.55c3a"]]},{"id":"cbcc54a5.1f4658","type":"change","z":"532ca053.60cb3","name":"PCM.socMax","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.PCM.socMax","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":1860,"wires":[["3e494b7e.153264"]]},{"id":"3e494b7e.153264","type":"ui_numeric","z":"532ca053.60cb3","name":"","label":"PCM SoC Max","tooltip":"","group":"535806eb.698088","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}} %","min":0,"max":"100","step":1,"x":340,"y":1860,"wires":[["360e8faa.210ca"]]},{"id":"e93f086d.1fbe88","type":"change","z":"532ca053.60cb3","name":"","rules":[{"t":"set","p":"settings.PCM.socL1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1900,"wires":[["963e0e74.55c3a"]]},{"id":"1be5172.c3d77e9","type":"change","z":"532ca053.60cb3","name":"PCM.socL1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.PCM.socL1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":1900,"wires":[["c550845b.de0178"]]},{"id":"c550845b.de0178","type":"ui_numeric","z":"532ca053.60cb3","name":"","label":"PCM SoC L1","tooltip":"SoC under which PCM can't provide energy for DHW","group":"535806eb.698088","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}} %","min":0,"max":"100","step":1,"x":330,"y":1900,"wires":[["e93f086d.1fbe88"]]},{"id":"db731b9f.701b28","type":"switch","z":"532ca053.60cb3","name":"PV production?","property":"last.PV.prod","propertyType":"flow","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":1060,"wires":[["9e56655.33c0398","bdc4125d.c8b06"]]},{"id":"f126d398.62d91","type":"change","z":"532ca053.60cb3","name":"","rules":[{"t":"set","p":"last.PCM.soc","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":500,"wires":[[]]},{"id":"87d981b3.e2f6c","type":"change","z":"532ca053.60cb3","name":"extra heat","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.winter.extra","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1100,"wires":[["4ec8b4ad.9e4eac"]]},{"id":"bdc4125d.c8b06","type":"change","z":"532ca053.60cb3","name":"battery->charge","rules":[{"t":"set","p":"payload","pt":"msg","to":"CHARGE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1040,"wires":[["9c8698d8.1ad6d8"]]},{"id":"98ed6187.736d9","type":"delay","z":"532ca053.60cb3","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":1100,"wires":[["db731b9f.701b28","3a45ea89.b3e1f6"]]},{"id":"fa3c880d.810518","type":"change","z":"532ca053.60cb3","name":"","rules":[{"t":"set","p":"last.Dwelling.temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":400,"wires":[[]]},{"id":"18188867.7797e8","type":"switch","z":"532ca053.60cb3","name":"winter?","property":"settings.winter.months","propertyType":"flow","rules":[{"t":"cont","v":"$number($now('[M]'))","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":880,"wires":[["87fb0386.e66d"]]},{"id":"8cccfed5.b95ed","type":"switch","z":"532ca053.60cb3","name":"summer?","property":"settings.summer.months","propertyType":"flow","rules":[{"t":"cont","v":"$number($now('[M]'))","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":920,"wires":[["4d339c23.09a854"]]},{"id":"87fb0386.e66d","type":"change","z":"532ca053.60cb3","name":"winter target","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.winter.target","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":880,"wires":[["4ec8b4ad.9e4eac"]]},{"id":"4d339c23.09a854","type":"change","z":"532ca053.60cb3","name":"summer target","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.summer.target","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":920,"wires":[["4ec8b4ad.9e4eac"]]},{"id":"e4fd4030.dbf28","type":"ui_template","z":"532ca053.60cb3","group":"608d6236.77a63c","name":"Thermal SP","order":3,"width":4,"height":2,"format":"<span style=\"font-weight: bold; text-align: center\">\n    Thermal Controller SP \n    <div style=\"background-color:white;color: #092e41; font-size: 200%\" ng-bind-html=\"msg.payload\">\n    </div>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":510,"y":640,"wires":[["648cdb60.4938e4"]]},{"id":"ae31504d.31e89","type":"ui_template","z":"532ca053.60cb3","group":"608d6236.77a63c","name":"Electrical SP","order":5,"width":4,"height":2,"format":"<span style=\"font-weight: bold; text-align: center\">\n    Electrical Controller SP \n    <div style=\"background-color:white;color: #a1282f; font-size: 200%\" ng-bind-html=\"msg.payload\">\n    </div>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":510,"y":720,"wires":[["9c347d2f.32854"]]},{"id":"7f45c053.03917","type":"ui_text","z":"532ca053.60cb3","group":"608d6236.77a63c","order":14,"width":5,"height":1,"name":"Last update","label":"<font size=0.75>Last update:","format":"<font size=0.75>{{msg.payload.data[0].ob_time}} ({{msg.payload.data[0].city_name}})","layout":"row-left","x":730,"y":180,"wires":[]},{"id":"468db06c.bafdd","type":"inject","z":"532ca053.60cb3","name":"every 5 min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/5 0-23 * * *","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":130,"y":140,"wires":[["b4e7ea6.0c91718"]]},{"id":"570c5946.034f78","type":"change","z":"532ca053.60cb3","name":"","rules":[{"t":"set","p":"last.PV.prod","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":300,"wires":[[]]},{"id":"36bf706e.82da3","type":"csv","z":"5f633a28.607134","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"lat,lon","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":290,"y":120,"wires":[["7edb8afa.cc2254"]]},{"id":"851cf061.d563f","type":"ui_gauge","z":"532ca053.60cb3","name":"","group":"608d6236.77a63c","order":11,"width":3,"height":3,"gtype":"gage","title":"PV production","label":"kW","format":"{{msg.payload|number:2}}","min":"0","max":"30","colors":["#e1ca00","#ff8000","#ca3838"],"seg1":"10","seg2":"20","x":740,"y":260,"wires":[]},{"id":"f6a15d76.746c","type":"influxdb in","z":"532ca053.60cb3","influxdb":"12ac0f34.b7da41","name":"PV production","query":"SELECT last(\"gSM2.power\") FROM \"localhost\"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":320,"y":260,"wires":[["36c0848b.c3606c"]]},{"id":"36c0848b.c3606c","type":"change","z":"532ca053.60cb3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].last","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":260,"wires":[["851cf061.d563f","570c5946.034f78"]]},{"id":"303b0fe1.85313","type":"inject","z":"532ca053.60cb3","d":true,"name":"5s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":360,"wires":[["f6a15d76.746c","e5bca41d.7f76d8","83b9621f.f5298"]]},{"id":"1c2ceee9.9334e1","type":"ui_gauge","z":"532ca053.60cb3","name":"","group":"608d6236.77a63c","order":7,"width":3,"height":3,"gtype":"gage","title":"Internal temp.","label":"C","format":"{{value | number:2}}","min":"-20","max":"50","colors":["#0092b5","#00b500","#ca3838"],"seg1":"10","seg2":"30","x":740,"y":360,"wires":[]},{"id":"e5bca41d.7f76d8","type":"influxdb in","z":"532ca053.60cb3","influxdb":"12ac0f34.b7da41","name":"<dwelling.temp>","query":"SELECT last(\"<dwelling.temp>\") FROM \"localhost\"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":320,"y":360,"wires":[["b0fa3c7f.bbf78"]]},{"id":"b0fa3c7f.bbf78","type":"change","z":"532ca053.60cb3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].last","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":360,"wires":[["1c2ceee9.9334e1","fa3c880d.810518"]]},{"id":"ca396da2.0575b","type":"ui_chart","z":"532ca053.60cb3","name":"PCM SoC%","group":"608d6236.77a63c","order":9,"width":3,"height":3,"label":"{{msg.payload|number:2}}%","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"PCM SoC","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":730,"y":460,"wires":[[]]},{"id":"59f88fe7.91382","type":"change","z":"532ca053.60cb3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].last","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["ca396da2.0575b","f126d398.62d91"]]},{"id":"83b9621f.f5298","type":"influxdb in","z":"532ca053.60cb3","influxdb":"12ac0f34.b7da41","name":"<pcm.soc>","query":"SELECT last(\"<pcm.soc>\") FROM \"localhost\"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":310,"y":460,"wires":[["59f88fe7.91382"]]},{"id":"337e412a.03affe","type":"link in","z":"532ca053.60cb3","name":"","links":["877d9053.0c8ea"],"x":75,"y":880,"wires":[["18188867.7797e8","8cccfed5.b95ed","98ed6187.736d9","90239032.47f29","282f21a8.bbaebe"]]},{"id":"877d9053.0c8ea","type":"link out","z":"532ca053.60cb3","name":"","links":["337e412a.03affe","68c12d49.5e75d4"],"x":915,"y":1400,"wires":[]},{"id":"f7008ed4.8a96","type":"change","z":"532ca053.60cb3","name":"battery->discharge","rules":[{"t":"set","p":"payload","pt":"msg","to":"DISCHARGE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":960,"wires":[["9c8698d8.1ad6d8"]]},{"id":"3a45ea89.b3e1f6","type":"switch","z":"532ca053.60cb3","name":"PCM ok for DHW?","property":"last.PCM.soc","propertyType":"flow","rules":[{"t":"gt","v":"settings.PCM.socL1","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1140,"wires":[["1615ab3a.f67585"]]},{"id":"1615ab3a.f67585","type":"switch","z":"532ca053.60cb3","name":"no heating/cooling?","property":"last.Dwelling.temp","propertyType":"flow","rules":[{"t":"btwn","v":"$lookup($flowContext(\"TC\"),\"sp\")-0.5\t","vt":"jsonata","v2":"$lookup($flowContext(\"TC\"),\"sp\")+0.5","v2t":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":1140,"wires":[["bdd31bf2.090708"]]},{"id":"648cdb60.4938e4","type":"change","z":"532ca053.60cb3","d":true,"name":"OPC (T.D.B.)","rules":[{"t":"set","p":"topic","pt":"msg","to":"<opc.command>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":640,"wires":[["ce1d57d7.5becc8"]]},{"id":"ce1d57d7.5becc8","type":"OpcUa-Client","z":"532ca053.60cb3","endpoint":"73586c37.402194","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":1080,"y":640,"wires":[[]]},{"id":"82841795.70d968","type":"OpcUa-Client","z":"532ca053.60cb3","endpoint":"f7d10f6f.7906d","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":1080,"y":720,"wires":[[]]},{"id":"9c347d2f.32854","type":"switch","z":"532ca053.60cb3","d":true,"name":"OPC (T.D.B.)","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"CHARGE","vt":"str"},{"t":"eq","v":"BUFFER","vt":"str"},{"t":"eq","v":"DISCHARGE","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":730,"y":720,"wires":[["aec44adc.7815c8","a18d1a65.6d6ca8"],["946939e8.06cfa8","a18d1a65.6d6ca8"],["946939e8.06cfa8","d366ec05.0c488"]]},{"id":"946939e8.06cfa8","type":"change","z":"532ca053.60cb3","name":"E1=0.1","rules":[{"t":"set","p":"topic","pt":"msg","to":"E1","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"0.1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":660,"wires":[["82841795.70d968"]]},{"id":"d366ec05.0c488","type":"change","z":"532ca053.60cb3","name":"E2=0.25","rules":[{"t":"set","p":"topic","pt":"msg","to":"E2","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"0.25","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":700,"wires":[["82841795.70d968"]]},{"id":"a18d1a65.6d6ca8","type":"change","z":"532ca053.60cb3","name":"E2=0.9","rules":[{"t":"set","p":"topic","pt":"msg","to":"E2","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"0.9","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":780,"wires":[["82841795.70d968"]]},{"id":"aec44adc.7815c8","type":"change","z":"532ca053.60cb3","name":"E1=0.75","rules":[{"t":"set","p":"topic","pt":"msg","to":"E1","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"0.75","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":740,"wires":[["82841795.70d968"]]},{"id":"4ec8b4ad.9e4eac","type":"change","z":"532ca053.60cb3","name":"","rules":[{"t":"set","p":"TC.sp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":880,"wires":[["7114aead.8ed48"]]},{"id":"4dd92f1e.853e2","type":"ui_template","z":"532ca053.60cb3","group":"608d6236.77a63c","name":"DHW SP","order":12,"width":3,"height":2,"format":"<span style=\"font-weight: bold; text-align: center\">\n    DHW generation SP\n    <div style=\"background-color:white;color: #092e41; font-size: 200%\" ng-bind-html=\"msg.payload\">\n    </div>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":500,"y":560,"wires":[[]]},{"id":"a37c8b35.746e58","type":"change","z":"532ca053.60cb3","name":"<suggest DHW charge>","rules":[{"t":"set","p":"payload","pt":"msg","to":"Suggested DHW charge","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1200,"wires":[["b20deed8.d62e7"]]},{"id":"bdd31bf2.090708","type":"switch","z":"532ca053.60cb3","name":"DHW temp low?","property":"last.DHW.temp","propertyType":"flow","rules":[{"t":"lt","v":"settings.DHW.lowTemp","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":1140,"wires":[["a37c8b35.746e58"]]},{"id":"6be1eb63.100714","type":"change","z":"532ca053.60cb3","name":"DHW.lowTemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DHW.lowTemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":1940,"wires":[["37852c0c.296b84"]]},{"id":"37852c0c.296b84","type":"ui_numeric","z":"532ca053.60cb3","name":"","label":"DHW low temp","tooltip":"SoC under which DHW tank can be charged","group":"535806eb.698088","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}} C","min":0,"max":"100","step":1,"x":340,"y":1940,"wires":[["890915ab.52f0d8"]]},{"id":"890915ab.52f0d8","type":"change","z":"532ca053.60cb3","name":"","rules":[{"t":"set","p":"settings.DHW.lowTemp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1940,"wires":[["963e0e74.55c3a"]]},{"id":"90239032.47f29","type":"change","z":"532ca053.60cb3","name":"<no DHW suggestion>","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":1240,"wires":[["b20deed8.d62e7"]]},{"id":"ee694368.3972f","type":"debug","z":"d9626aca.91e21","name":"received","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":440,"y":860,"wires":[]},{"id":"b839b204.440808","type":"function","z":"d9626aca.91e21","name":"","func":"\nvar fc=msg.payload.fc;\nvar sa=msg.payload.sa;\nvar addresses=msg.payload.addresses;\nvar slave_ip=msg.payload.slave_ip;\nvar payload={ 'fc': fc, 'unitid': 1, 'address': sa , 'quantity': addresses };\nmsg.payload=JSON.stringify(payload);\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":280,"wires":[["ffd00ac8.95bca","89afe41a.edf1b"]]},{"id":"beba480e.211a78","type":"function","z":"d9626aca.91e21","name":"write mqtt","func":"var fc=msg.payload.fc;\nvar sa=msg.payload.sa;\nvar addresses=msg.payload.addresses;\nvar value=msg.payload.value;\nvar values=msg.payload.values;\nvar slave_ip=msg.payload.slave_ip;\nif (fc==16 || fc==15){\n     value=JSON.parse(msg.payload.values);\n    node.log(value);\n}\npayload={\"value\":value , 'fc': fc, 'unitid': 1, 'address': sa , 'quantity': addresses };\n\nmsg.payload=JSON.stringify(payload);\nreturn msg\n\n","outputs":1,"noerr":0,"x":470,"y":700,"wires":[["257946b2.2703da"]]},{"id":"89afe41a.edf1b","type":"debug","z":"d9626aca.91e21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":740,"y":360,"wires":[]},{"id":"b2ee29d7.deb458","type":"ui_form","z":"d9626aca.91e21","name":"","label":"Read MQTT fc=Codes 1(S_Coil),2,(D_In),3(Holding_R),4(IN_reg)","group":"19dad5af.6814ca","order":3,"width":"9","height":"1","options":[{"label":"Function Code","value":"fc","type":"number","required":true,"rows":null},{"label":"Slave_ip","value":"slave_ip","type":"text","required":false,"rows":null},{"label":"start address","value":"sa","type":"number","required":true,"rows":null},{"label":"number to read","value":"addresses","type":"number","required":true,"rows":null}],"formValue":{"fc":"","slave_ip":"","sa":"","addresses":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":340,"y":160,"wires":[["b839b204.440808"]]},{"id":"1c2da2ca.175045","type":"function","z":"d9626aca.91e21","name":"","func":"node.log(\"payload \"+msg.payload);\ndata=msg.payload[0]*65535 +msg.payload[1];\nnode.log(\"payload \"+data);\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":280,"wires":[["89afe41a.edf1b"]]},{"id":"edcec760.6c2e2","type":"inject","z":"d9626aca.91e21","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":260,"wires":[["348e0b65.748344"]]},{"id":"348e0b65.748344","type":"function","z":"d9626aca.91e21","name":"","func":"var fc=3;\nvar sa=0;\nvar addresses=20;\nvar slave_ip=\"192.168.1.68\";\nmsg.payload={value: msg.payload, 'fc': fc, 'unitid': 1, 'address': sa , 'quantity': addresses };\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":280,"wires":[["b839b204.440808"]]},{"id":"ffd00ac8.95bca","type":"mqtt out","z":"d9626aca.91e21","name":"","topic":"modbus/commands/read","qos":"","retain":"","broker":"3d43a51a.c133a2","x":840,"y":220,"wires":[]},{"id":"f0b386ab.d3a888","type":"mqtt in","z":"d9626aca.91e21","name":"","topic":"modbus/response/#","qos":"0","datatype":"json","broker":"3d43a51a.c133a2","x":160,"y":360,"wires":[["7b4fc821.22c538","4ecdcbf7.dc8a8c","8ebb1c8d.a2913"]]},{"id":"257946b2.2703da","type":"mqtt out","z":"d9626aca.91e21","name":"","topic":"modbus/commands/write","qos":"","retain":"","broker":"3d43a51a.c133a2","x":540,"y":780,"wires":[]},{"id":"7b4fc821.22c538","type":"switch","z":"d9626aca.91e21","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"modbus/response/read","vt":"str"},{"t":"eq","v":"modbus/response/write","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":420,"wires":[[],[]]},{"id":"29c8bd31.ddd502","type":"ui_text","z":"d9626aca.91e21","group":"f9918dcb.b9e1f8","order":3,"width":"8","height":"1","name":"","label":"Result Write","format":"{{msg.write}}","layout":"col-center","x":660,"y":520,"wires":[]},{"id":"bfa650ea.0fdd6","type":"ui_form","z":"d9626aca.91e21","name":"","label":"Write MQTT Codes 5(SC),6(SR),15(MC),16(MR)","group":"b1e93ddb.38aa38","order":2,"width":"9","height":"1","options":[{"label":"Function Code","value":"fc","type":"number","required":true},{"label":"Slave_ip","value":"slave_ip","type":"text","required":false},{"label":"start address","value":"sa","type":"number","required":true},{"label":"number to write","value":"addresses","type":"number","required":true},{"label":"Value","value":"value","type":"number","required":false},{"label":"Values","value":"values","type":"text","required":false}],"formValue":{"fc":"","slave_ip":"","sa":"","addresses":"","value":"","values":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":240,"y":620,"wires":[["beba480e.211a78"]]},{"id":"a6570060.1cf24","type":"mqtt in","z":"d9626aca.91e21","name":"","topic":"modbus/commands/read","qos":"0","datatype":"json","broker":"3d43a51a.c133a2","x":120,"y":940,"wires":[["ee694368.3972f","b89db30c.a37a68"]]},{"id":"f56b2fb.642915","type":"mqtt out","z":"d9626aca.91e21","name":"","topic":"","qos":"0","retain":"","broker":"3d43a51a.c133a2","x":770,"y":1020,"wires":[]},{"id":"b89db30c.a37a68","type":"modbus-flex-getter","z":"d9626aca.91e21","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"54dde46e.53267c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":430,"y":980,"wires":[[],["5517ba73.9f0d24","9907658f.e99d88"]]},{"id":"5517ba73.9f0d24","type":"debug","z":"d9626aca.91e21","name":"out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":900,"wires":[]},{"id":"4ecdcbf7.dc8a8c","type":"debug","z":"d9626aca.91e21","name":"received","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":540,"wires":[]},{"id":"8ebb1c8d.a2913","type":"function","z":"d9626aca.91e21","name":"received function","func":"var topic=msg.topic;\nif(topic==\"modbus/response/read\")\nmsg.read=msg.payload.data;\nelse\nmsg.write=msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":480,"wires":[["29c8bd31.ddd502","7652b3d7.11683c"]]},{"id":"3038d2ee.9e2bf6","type":"mqtt in","z":"d9626aca.91e21","name":"","topic":"modbus/commands/write","qos":"0","datatype":"json","broker":"3d43a51a.c133a2","x":110,"y":1100,"wires":[["ee694368.3972f","8aba8951.d541a"]]},{"id":"8aba8951.d541a","type":"modbus-flex-write","z":"d9626aca.91e21","name":"","showStatusActivities":false,"showErrors":false,"server":"13dcf127.e3dd8f","emptyMsgOnFail":false,"keepMsgProperties":false,"x":430,"y":1100,"wires":[[],["6850eba3.a0cb84"]]},{"id":"9907658f.e99d88","type":"change","z":"d9626aca.91e21","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"modbus/response/read","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1000,"wires":[["f56b2fb.642915"]]},{"id":"6850eba3.a0cb84","type":"change","z":"d9626aca.91e21","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"modbus/response/write","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1060,"wires":[["f56b2fb.642915"]]},{"id":"7652b3d7.11683c","type":"ui_text","z":"d9626aca.91e21","group":"f9918dcb.b9e1f8","order":3,"width":"8","height":"1","name":"","label":"Result read","format":"{{msg.read}}","layout":"col-center","x":640,"y":460,"wires":[]},{"id":"c6dde6c5.fc4698","type":"ui_dropdown","z":"d9626aca.91e21","name":"","label":"Function","tooltip":"","place":"Select option","group":"19dad5af.6814ca","order":16,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Coil","value":1,"type":"num"},{"label":"Discrete Input","value":2,"type":"num"},{"label":"Holding Register","value":3,"type":"num"},{"label":"Input Register","value":4,"type":"num"}],"payload":"","topic":"","x":100,"y":40,"wires":[["a3077b1.a1af988"]]},{"id":"a3077b1.a1af988","type":"change","z":"d9626aca.91e21","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"fc\":payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":100,"wires":[["b2ee29d7.deb458"]]},{"id":"ce683b51.9fc038","type":"inject","z":"d9626aca.91e21","name":"","props":[{"p":"payload.slave_ip","v":"127.0.0.1","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":330,"y":40,"wires":[["b2ee29d7.deb458"]]},{"id":"485c00ff.66dc2","type":"change","z":"d9626aca.91e21","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"fc\":payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":620,"wires":[["bfa650ea.0fdd6","3569478.4c482b8"]]},{"id":"2840b341.5edb1c","type":"ui_dropdown","z":"d9626aca.91e21","name":"","label":"Function","tooltip":"","place":"Select option","group":"b1e93ddb.38aa38","order":16,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Single Coil","value":5,"type":"num"},{"label":"Single Register","value":6,"type":"num"},{"label":"Multiple Coils","value":15,"type":"num"},{"label":"Multiple Registers","value":16,"type":"num"}],"payload":"","topic":"","x":900,"y":560,"wires":[["485c00ff.66dc2"]]},{"id":"383a2ab1.1517e6","type":"inject","z":"d9626aca.91e21","name":"","props":[{"p":"payload.slave_ip","v":"127.0.0.1","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":1130,"y":560,"wires":[["bfa650ea.0fdd6","3569478.4c482b8"]]},{"id":"3569478.4c482b8","type":"debug","z":"d9626aca.91e21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":720,"wires":[]},{"id":"e68a4c49.afe74","type":"inject","z":"5f6b31bb.fb06a","name":"Read 16bit Integer","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":280,"wires":[["bf83450d.6dc9a8","8f64266d.7aaa78"]]},{"id":"8f64266d.7aaa78","type":"function","z":"5f6b31bb.fb06a","name":"","func":"var fc=3;\nvar sa=0;\nvar addresses=1;\n//var slave_ip=msg.payload.slave_ip;\n//msg.slave_ip=\"192.168.1.31\";\nmsg.payload={value: msg.payload, 'fc': fc, 'unitid': 1, 'address': sa , 'quantity': addresses };\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":140,"wires":[["b671d9bf.889cb8"]]},{"id":"b671d9bf.889cb8","type":"modbus-flex-getter","z":"5f6b31bb.fb06a","name":"local getter Flex","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"54dde46e.53267c","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":360,"y":140,"wires":[[],["673b48de.2c6628","12392645.d1223a"]]},{"id":"bf83450d.6dc9a8","type":"modbus-getter","z":"5f6b31bb.fb06a","name":"Holding register","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"54dde46e.53267c","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":360,"y":300,"wires":[[],["5773db20.400134"]]},{"id":"673b48de.2c6628","type":"function","z":"5f6b31bb.fb06a","name":"","func":"const buf= Buffer.from(msg.payload.buffer)\n//const buf = Buffer.from(msg.payload.buffer);\nconst value = buf.readUInt16BE();\nmsg.value = value;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["1029d2ab.b5f0cd"]]},{"id":"5773db20.400134","type":"modbus-response","z":"5f6b31bb.fb06a","name":"","registerShowMax":20,"x":550,"y":360,"wires":[]},{"id":"12392645.d1223a","type":"modbus-response","z":"5f6b31bb.fb06a","name":"","registerShowMax":20,"x":550,"y":80,"wires":[]},{"id":"1029d2ab.b5f0cd","type":"debug","z":"5f6b31bb.fb06a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":180,"wires":[]},{"id":"e0b857c5.708be8","type":"modbus-getter","z":"5f6b31bb.fb06a","name":"Coils","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"Coil","adr":"0","quantity":"6","server":"54dde46e.53267c","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":270,"y":620,"wires":[[],["50341f41.fb909","3de48f7b.3f08b"]]},{"id":"50341f41.fb909","type":"modbus-response","z":"5f6b31bb.fb06a","name":"","registerShowMax":20,"x":570,"y":700,"wires":[]},{"id":"d0eea6c0.f47d78","type":"inject","z":"5f6b31bb.fb06a","name":"Read coils","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":680,"wires":[["e0b857c5.708be8"]]},{"id":"3de48f7b.3f08b","type":"function","z":"5f6b31bb.fb06a","name":"Process data","func":"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":640,"wires":[[]]},{"id":"c50a8250.3cb04","type":"inject","z":"5f6b31bb.fb06a","name":"Read multiple","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":480,"wires":[["a2811e6.8298fe"]]},{"id":"a2811e6.8298fe","type":"modbus-getter","z":"5f6b31bb.fb06a","name":"Read multiple","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"4","server":"54dde46e.53267c","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":350,"y":460,"wires":[[],["f95b826c.f9911"]]},{"id":"f95b826c.f9911","type":"modbus-response","z":"5f6b31bb.fb06a","name":"","registerShowMax":20,"x":590,"y":520,"wires":[]},{"id":"68e94f37.cc612","type":"modbus-read","z":"5f6b31bb.fb06a","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"2","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"54dde46e.53267c","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":20,"wires":[[],["cad923.efee96e"]]},{"id":"cad923.efee96e","type":"debug","z":"5f6b31bb.fb06a","name":"Modbus Read","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":40,"wires":[]},{"id":"a9f03b0c.338448","type":"ui_template","z":"532ca053.60cb3","d":true,"group":"608d6236.77a63c","name":"logo and clock","order":16,"width":0,"height":0,"format":"<style>\n    .md-toolbar-tools{\n        background-image: url(\"/logo/logo_hybuild-white.png\");\n        background-repeat: no-repeat;\n        background-position: center;\n        background-size: contain;\n    }\n</style>\n\n<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    if(!$('#clock').length) {\n        var toolbar = $('.md-toolbar-tools');\n        \n        var div = $('<div/>');\n        var p = $('<p/ id=\"clock\">');\n        \n        div.append(p);\n        div[0].style.margin = '5px 5px 5px auto';\n        toolbar.append(div);\n    \n        function displayTitle(lh) {\n            p.text(lh); \n        }\n        \n        function upTime() {\n            var d = new Date();\n            p.text(d.toLocaleString().replace(\", \",\" - \"));\n        }\n    \n        if(document.clockInterval){ \n                clearInterval(document.clockInterval);\n                document.clockInterval = null;\n        }\n            \n        document.clockInterval = setInterval(upTime,1000);\n    }\n}\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":1060,"y":100,"wires":[[]]},{"id":"9c8698d8.1ad6d8","type":"change","z":"532ca053.60cb3","name":"","rules":[{"t":"set","p":"EC.sp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1000,"wires":[["7114aead.8ed48"]]},{"id":"b20deed8.d62e7","type":"change","z":"532ca053.60cb3","name":"","rules":[{"t":"set","p":"DHW.sp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1240,"wires":[["7114aead.8ed48"]]},{"id":"15aaa0ce.2552df","type":"link in","z":"532ca053.60cb3","name":"","links":["7114aead.8ed48"],"x":75,"y":640,"wires":[["360d6b53.db5da4","1abbb919.837507","853e2826.098058"]]},{"id":"7114aead.8ed48","type":"link out","z":"532ca053.60cb3","name":"","links":["15aaa0ce.2552df"],"x":1215,"y":1000,"wires":[]},{"id":"1abbb919.837507","type":"change","z":"532ca053.60cb3","name":"flow.TC.sp","rules":[{"t":"set","p":"payload","pt":"msg","to":"TC.sp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":640,"wires":[["e4fd4030.dbf28"]]},{"id":"853e2826.098058","type":"change","z":"532ca053.60cb3","name":"flow.EC.sp","rules":[{"t":"set","p":"payload","pt":"msg","to":"EC.sp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":700,"wires":[["ae31504d.31e89"]]},{"id":"360d6b53.db5da4","type":"change","z":"532ca053.60cb3","name":"flow.DHW.sp","rules":[{"t":"set","p":"payload","pt":"msg","to":"DHW.sp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":580,"wires":[["4dd92f1e.853e2"]]},{"id":"ee81d612.fb6728","type":"comment","z":"532ca053.60cb3","name":"Basic control rules","info":"","x":150,"y":820,"wires":[]},{"id":"b6cddd85.f529c","type":"comment","z":"532ca053.60cb3","name":"Scheduler","info":"","x":120,"y":1320,"wires":[]},{"id":"759ebe6c.74c77","type":"comment","z":"532ca053.60cb3","name":"Home GUI","info":"","x":120,"y":80,"wires":[]},{"id":"d6953570.1b9d98","type":"split","z":"532ca053.60cb3","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":40,"wires":[["5201bab1.dbc344"]]},{"id":"119d36f8.a27009","type":"split","z":"532ca053.60cb3","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":40,"wires":[["d6953570.1b9d98"]]},{"id":"282f21a8.bbaebe","type":"switch","z":"532ca053.60cb3","name":"high tariff hour?","property":"$number($now('[H01]'))","propertyType":"jsonata","rules":[{"t":"gte","v":"19","vt":"num"},{"t":"lte","v":"7","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":320,"y":980,"wires":[["f7008ed4.8a96"],["f7008ed4.8a96"],["ff02b27c.79ca5"]]},{"id":"c1eb7315.e1747","type":"exec","z":"532ca053.60cb3","command":"..\\modpoll-all.bat","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":1110,"y":500,"wires":[["2ca54170.0a0b3e"],[],[]]},{"id":"9a3dd2e.972ec3","type":"inject","z":"532ca053.60cb3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1030,"y":460,"wires":[["c1eb7315.e1747"]]},{"id":"d68280f9.23c0c","type":"debug","z":"532ca053.60cb3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":640,"wires":[]},{"id":"b32c909c.4aef6","type":"inject","z":"532ca053.60cb3","name":"","props":[{"p":"kill","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":930,"y":540,"wires":[["c1eb7315.e1747"]]},{"id":"2ca54170.0a0b3e","type":"split","z":"532ca053.60cb3","name":"","splt":"\\r\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1290,"y":500,"wires":[["5f06c3e8.1aeefc","41d23277.8b5aec"]]},{"id":"5f06c3e8.1aeefc","type":"switch","z":"532ca053.60cb3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$not($contains(payload,\"]: 0\"))","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":580,"wires":[["f7d535f3.f621c8"]]},{"id":"f7d535f3.f621c8","type":"switch","z":"532ca053.60cb3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":580,"wires":[["d68280f9.23c0c"]]},{"id":"41d23277.8b5aec","type":"debug","z":"532ca053.60cb3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1300,"y":440,"wires":[]},{"id":"c0f11fa8.f2d6c","type":"inject","z":"532ca053.60cb3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1040,"y":260,"wires":[["5889bf59.caf5"]]},{"id":"5889bf59.caf5","type":"dropbox out","z":"532ca053.60cb3","dropbox":"76e5e0c.cb0e92","filename":"PINK/data/Termina-flows.json","localFilename":"./data/flows.json","name":"","x":1150,"y":360,"wires":[]},{"id":"952ffcf0.f84ac","type":"ui_text","z":"a64a1dda.46493","group":"c3f194d9.93ecd8","order":1,"width":"16","height":"2","name":"CRON Description","label":"Expression Description (updates as you type)...","format":"{{msg.payload.result.description}}","layout":"col-center","x":750,"y":160,"wires":[]},{"id":"d657bcf5.0f961","type":"cronplus","z":"a64a1dda.46493","name":"","outputField":"payload","timeZone":"","outputs":1,"options":[],"x":460,"y":160,"wires":[["952ffcf0.f84ac"]]},{"id":"7f182a47.6a92d4","type":"change","z":"a64a1dda.46493","name":"","rules":[{"t":"set","p":"ui_add_schedule_name","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":40,"wires":[[]]},{"id":"178c29c6.469c26","type":"change","z":"a64a1dda.46493","name":"","rules":[{"t":"set","p":"ui_add_schedule_payload","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":80,"wires":[[]]},{"id":"4e82804c.deec8","type":"change","z":"a64a1dda.46493","name":"","rules":[{"t":"set","p":"ui_add_schedule_expression","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":120,"wires":[[]]},{"id":"b5b431d9.bfb55","type":"change","z":"a64a1dda.46493","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.payload","pt":"msg","to":"ui_add_schedule_payload","tot":"flow"},{"t":"set","p":"payload.name","pt":"msg","to":"ui_add_schedule_name","tot":"flow"},{"t":"set","p":"payload.expression","pt":"msg","to":"ui_add_schedule_expression","tot":"flow"},{"t":"set","p":"payload.command","pt":"msg","to":"add","tot":"str"},{"t":"set","p":"payload.type","pt":"msg","to":"str","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":240,"wires":[["3f284188.fdf30e","f78bacd7.fd897"]]},{"id":"3f284188.fdf30e","type":"cronplus","z":"a64a1dda.46493","name":"","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[],"x":620,"y":240,"wires":[["abf40655.039a88"]]},{"id":"be8bc068.715f3","type":"ui_toast","z":"a64a1dda.46493","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":570,"y":320,"wires":[]},{"id":"abf40655.039a88","type":"switch","z":"a64a1dda.46493","name":"1=Cron Event   2=List Results ","property":"cronplus.triggerTimestamp","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":340,"wires":[["be8bc068.715f3"],["7ae8d780.88fc08"]]},{"id":"eba9438.7bf69c","type":"catch","z":"a64a1dda.46493","name":"","scope":null,"uncaught":false,"x":80,"y":460,"wires":[["92cbfc6f.77ad5","d860d2d.5afc53"]]},{"id":"92cbfc6f.77ad5","type":"ui_toast","z":"a64a1dda.46493","position":"top right","displayTime":"3","highlight":"red","outputs":0,"ok":"OK","cancel":"","topic":"Error...","name":"","x":290,"y":460,"wires":[]},{"id":"f78bacd7.fd897","type":"ui_button","z":"a64a1dda.46493","name":"Refresh","group":"c3f194d9.93ecd8","order":6,"width":"1","height":"1","passthru":true,"label":"","tooltip":"Get status of jobs","color":"","bgcolor":"","icon":"fa-refresh","payload":"{\"command\":\"list-all\"}","payloadType":"json","topic":"","x":460,"y":260,"wires":[["3f284188.fdf30e"]]},{"id":"2e128d0.3fb4a74","type":"ui_text_input","z":"a64a1dda.46493","name":"","label":"Expression","tooltip":"CRON expression or date/csv list of dates","group":"c3f194d9.93ecd8","order":3,"width":"4","height":"1","passthru":true,"mode":"text","delay":"100","topic":"","x":90,"y":120,"wires":[["4e82804c.deec8","214405e5.4d56ca"]]},{"id":"bda83091.c7f44","type":"ui_text_input","z":"a64a1dda.46493","name":"","label":"Name","tooltip":"Schedule Name","group":"c3f194d9.93ecd8","order":2,"width":"4","height":"1","passthru":true,"mode":"text","delay":"100","topic":"","x":70,"y":40,"wires":[["7f182a47.6a92d4"]]},{"id":"96463052.88a8d","type":"ui_button","z":"a64a1dda.46493","name":"","group":"c3f194d9.93ecd8","order":5,"width":"3","height":"1","passthru":false,"label":"Add","tooltip":"Add or update named schedule","color":"","bgcolor":"","icon":"send","payload":"","payloadType":"str","topic":"","x":70,"y":240,"wires":[["b5b431d9.bfb55"]]},{"id":"5bb3aee1.5fc43","type":"ui_text_input","z":"a64a1dda.46493","name":"","label":"Payload","tooltip":"Payload to send when schedule fires","group":"c3f194d9.93ecd8","order":4,"width":"4","height":"1","passthru":true,"mode":"text","delay":"100","topic":"","x":80,"y":80,"wires":[["178c29c6.469c26"]]},{"id":"e15ad659.7d0128","type":"ui_template","z":"a64a1dda.46493","group":"c3f194d9.93ecd8","name":"","order":7,"width":"16","height":"5","format":"<style type=\"text/css\">\n.t1  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}\n.t1 td{font-family:Arial, sans-serif;font-size:14px;padding:8px 3px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;border-color:#ccc;color:#333;background-color:#fff;}\n.t1 th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}\n.t1 .t1-36r9{background-color:#000000;color:#ffffff;text-align:left;vertical-align:top}\n.t1 .t1-x2zo{background-color:#c0c0c0;font-size:small;text-align:left;vertical-align:top}\n.t1 .t1-o73e{background-color:#c0c0c0;font-size:small;text-align:center;vertical-align:top}\n.t1 .t1-5qt9{font-size:small;text-align:left;vertical-align:top}\n.t1 .t1-5qta{font-size:small;text-align:center;vertical-align:middle}\n</style>\n<table class=\"t1\">\n  <tr>\n    <th class=\"t1-36r9\" colspan=\"9\">CRON Schedules</th>\n  </tr>\n  <tr>\n    <td class=\"t1-x2zo\">Name</td>\n    <td class=\"t1-x2zo\">Expression</td>\n    <td class=\"t1-x2zo\">Payload</td>\n    <td class=\"t1-x2zo\">Description</td>\n    <td class=\"t1-x2zo\">Next run</td>\n    <td class=\"t1-x2zo\">State</td>\n    <td class=\"t1-o73e\">Delete</td>\n    <td class=\"t1-o73e\">Pause</td>\n    <td class=\"t1-o73e\">Resume</td>\n  </tr>\n  <tr  ng-repeat=\"item in msg.payload\">\n    <td class=\"t1-5qt9\">{{item.config.name}}</td>\n    <td class=\"t1-5qt9\" style=\"white-space: nowrap\" nowrap>{{item.config.expression}}</td>\n    <td class=\"t1-5qt9\">{{item.config.payload}}</td>\n    <td class=\"t1-5qt9\">{{item.status.description}}</td>\n    <td class=\"t1-5qt9\">{{item.status.nextDescription}}</td>\n    <td class=\"t1-5qta\"><i class=\"fa fa-{{item.status.isRunning ? 'play' : 'pause'}}\"> </i></td>\n\n   <td class=\"t1-5qta\">\n       <md-button class=\"md-raised\"\n        ng-click=\"send([[{payload:{command:'remove', name: item.config.name}}, {payload:{command:'list-all'}}]]);\"> <i class=\"fa fa-trash\"> </i></md-button>\n   </td>\n   <td class=\"t1-5qta\">\n       <md-button class=\"button\" \n       ng-click=\"send([[{payload:{command:'pause', name: item.config.name}}, {payload:{command:'list-all'}}]]);\"> <i class=\"fa fa-pause\"> </i></md-button>\n   </td>\n   <td class=\"t1-5qta\">\n       <md-button class=\"button\" \n       ng-click=\"send([[{payload:{command:'start', name: item.config.name}}, {payload:{command:'list-all'}}]]);\"> <i class=\"fa fa-play\"> </i></md-button>\n   </td>\n\n  </tr>\n\n </tbody>\n</table>\n\n<!--<table id=\"table\" class=\"table table-striped table-responsive-md btn-table\" >-->\n<!--     <tr>-->\n<!--        <th>Name</th> -->\n<!--        <th>Expression</th> -->\n<!--        <th>Payload</th> -->\n<!--        <th>Description</th>-->\n<!--        <th>Next run</th>-->\n<!--        <th>State</th>-->\n<!--        <th>Delete</th>-->\n<!--        <th>Pause</th>-->\n<!--        <th>Resume</th>-->\n<!-- </tr>-->\n<!-- <tbody>-->\n<!-- <tr ng-repeat=\"item in msg.payload\">-->\n<!--   <td >{{item.config.name}}</td>-->\n<!--   <td style=\"white-space: nowrap\" nowrap>{{item.config.expression}}</td>-->\n<!--   <td >{{item.config.payload}}</td>-->\n<!--   <td >{{item.status.description}}</td>-->\n<!--   <td >{{item.status.nextDescription}}</td>-->\n<!--   <td >{{item.status.isRunning ? 'Running' : 'Paused'}}</td>-->\n<!--   <td>-->\n<!--       <md-button class=\"md-raised\"-->\n<!--        ng-click=\"send([[{payload:{command:'remove', name: item.config.name}}, {payload:{command:'list-all'}}]]);\"> <i class=\"fa fa-trash\"> </i></md-button>-->\n<!--   </td>-->\n<!--   <td>-->\n<!--       <md-button class=\"button\" -->\n<!--       ng-click=\"send([[{payload:{command:'pause', name: item.config.name}}, {payload:{command:'list-all'}}]]);\"> <i class=\"fa fa-pause\"> </i></md-button>-->\n<!--   </td>-->\n<!--   <td>-->\n<!--       <md-button class=\"button\" -->\n<!--       ng-click=\"send([[{payload:{command:'start', name: item.config.name}}, {payload:{command:'list-all'}}]]);\"> <i class=\"fa fa-play\"> </i></md-button>-->\n<!--   </td>-->\n<!-- </tr>-->\n<!-- </tbody>-->\n<!--</table>-->\n\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":720,"y":360,"wires":[["851d95e5.61cc58"]]},{"id":"7ae8d780.88fc08","type":"function","z":"a64a1dda.46493","name":"Make table data","func":"if(!msg.payload || !msg.payload.result || !msg.payload.result.length){\n    msg.payload = [];\n    return msg;\n}\n\nmsg.payload = msg.payload.result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":360,"wires":[["e15ad659.7d0128"]]},{"id":"d860d2d.5afc53","type":"debug","z":"a64a1dda.46493","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":250,"y":500,"wires":[]},{"id":"851d95e5.61cc58","type":"link out","z":"a64a1dda.46493","name":"","links":["b9b9e3e3.d4933","e48ee70d.63d348"],"x":855,"y":360,"wires":[]},{"id":"e73772df.72258","type":"ui_template","z":"a64a1dda.46493","group":"c3f194d9.93ecd8","name":"CRON Info","order":8,"width":"16","height":"12","format":"<div>\n<pre>CRON Format...\n\n    s  m  h  md m  wd y\n    |  |  |  |  |  |  |\n    *  *  *  *  *  *  *    Field              Allowed values    Special symbols\n    |  |  |  |  |  |  |    -----------------  ---------------   ---------------\n    `--|--|--|--|--|--|->  Second (optional)  0-59              * / , -\n       `--|--|--|--|--|->  Minute             0-59              * / , -\n          `--|--|--|--|->  Hour               0-23              * / , -\n             `--|--|--|->  Day of Month       1-31              * / , - L W\n                `--|--|->  Month              1-12 or JAN-DEC   * / , -\n                   `--|->  Day of Week        0-7 or SUN-SAT    * / , - L #\n                      `->  Year (optional)    1970-2099         * / , -\n                \n</pre>    \n</div>\n\n<style type=\"text/css\">\n.t2  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}\n.t2 td{font-family:Arial, sans-serif;font-size:14px;padding:2px 2px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}\n.t2 th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}\n.t2 .t2-dg6o{background-color:#000000;color:#ffffff;text-align:left;vertical-align:top}\n.t2 .t2-6e8n{font-weight:bold;background-color:#c0c0c0;border-color:inherit;text-align:left;vertical-align:top}\n.t2 .t2-0pky{border-color:inherit;text-align:left;vertical-align:top}\n</style>\n<table class=\"t2\">\n  <tr>\n    <th class=\"t2-dg6o\" colspan=\"2\">Example CRON Expressions</th>\n  </tr>\n  <tr>\n    <td class=\"t2-6e8n\">Expression</td>\n    <td class=\"t2-6e8n\">Description</td>\n  </tr>\n  <tr>\n    <td class=\"t2-0pky\">* * * * * *</td>\n    <td class=\"t2-0pky\">Every Second</td>\n  </tr>\n  <tr>\n    <td class=\"t2-0pky\">0 * * * * *</td>\n    <td class=\"t2-0pky\">Every minute</td>\n  </tr>\n  <tr>\n    <td class=\"t2-0pky\">0 */10 * * * *</td>\n    <td class=\"t2-0pky\">Every 10 minutes</td>\n  </tr>\n  <tr>\n    <td class=\"t2-0pky\">0 */20 1 * * *</td>\n    <td class=\"t2-0pky\">Every 20 minutes, between 01:00 AM and 01:59 AM</td>\n  </tr>\n  <tr>\n    <td class=\"t2-0pky\">0 15,30,45 * * * *</td>\n    <td class=\"t2-0pky\">At 15, 30, and 45 minutes past the hour</td>\n  </tr>\n  <tr>\n    <td class=\"t2-0pky\">0 0 12 * * *</td>\n    <td class=\"t2-0pky\">Every day at noon - 12pm</td>\n  </tr>\n  <tr>\n    <td class=\"t2-0pky\">0 0 2 29 FEB * 2020-2040</td>\n    <td class=\"t2-0pky\">At 02:00 AM, on day 29 of the month, only in February, every 4 years, 2020 through 2040</td>\n  </tr>\n  <tr>\n    <td class=\"t2-0pky\">0 0 7 * *</td>\n    <td class=\"t2-0pky\">MON#1 * At 07:00 AM, on the first Monday of the month</td>\n  </tr>\n  <tr>\n    <td class=\"t2-0pky\">0 0 12 * JAN,FEB,MAR,APR *</td>\n    <td class=\"t2-0pky\">Every day at noon in January, February, March and April</td>\n  </tr>\n  <tr>\n    <td class=\"t2-0pky\">* * 1W * *</td>\n    <td class=\"t2-0pky\">Every minute, on the first weekday of the month</td>\n  </tr>\n  <tr>\n    <td class=\"t2-0pky\">* * * * Tue#3</td>\n    <td class=\"t2-0pky\">Every minute, on the third Tuesday of the month</td>\n  </tr>\n  <tr>\n    <td class=\"t2-0pky\">0 12 * * MONL</td>\n    <td class=\"t2-0pky\">At 12:00 PM, on the last Monday of the month</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":730,"y":420,"wires":[[]]},{"id":"e48ee70d.63d348","type":"link in","z":"a64a1dda.46493","name":"","links":["851d95e5.61cc58","dde0b2cf.76d48"],"x":415,"y":220,"wires":[["3f284188.fdf30e"]]},{"id":"214405e5.4d56ca","type":"change","z":"a64a1dda.46493","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\": \"describe\",\"expression\": payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":160,"wires":[["d657bcf5.0f961"]]},{"id":"84bbc465.8cac78","type":"ui_ui_control","z":"a64a1dda.46493","name":"","events":"all","x":80,"y":280,"wires":[["f78bacd7.fd897"]]},{"id":"4b27b7b.36083c8","type":"inject","z":"a64a1dda.46493","name":"Force","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/1 0-23 * * *","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":100,"y":660,"wires":[["f7b2e05e.f958f8","47a4278c.65ce68"]]},{"id":"2f5ae7e2.12b908","type":"debug","z":"a64a1dda.46493","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.msecs","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":660,"wires":[]},{"id":"47a4278c.65ce68","type":"function","z":"a64a1dda.46493","name":"timeConvert","func":"if (!msg.payload) msg.payload = Math.round(+new Date());\n\nvar dt = new Date(msg.payload);\nmsg.payload = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'secs':\t\tdt.getSeconds(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":660,"wires":[["2f5ae7e2.12b908","a070f434.664c18"]]},{"id":"f7b2e05e.f958f8","type":"function","z":"a64a1dda.46493","name":"normalise timestamp","func":"//approssima l'orario al minuto\nmsg.payload=Math.round(msg.payload/60000)*60000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":720,"wires":[["47a4278c.65ce68"]]},{"id":"e76fc853.0a4708","type":"ui_table","z":"a64a1dda.46493","group":"c3f194d9.93ecd8","name":"","order":8,"width":0,"height":0,"columns":[{"field":"n","title":"#","width":"","align":"left","formatter":"rownum","formatterParams":{"target":"_blank"}},{"field":"hours","title":"HH","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"mins","title":"MM","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"operation","title":"operation","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":770,"y":580,"wires":[]},{"id":"a070f434.664c18","type":"join","z":"a64a1dda.46493","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":580,"wires":[["e76fc853.0a4708"]]},{"id":"d47eff74.1d0a9","type":"ui_button","z":"a64a1dda.46493","name":"","group":"c3f194d9.93ecd8","order":5,"width":"3","height":"1","passthru":false,"label":"Fill table","tooltip":"Add or update named schedule","color":"","bgcolor":"","icon":"send","payload":"","payloadType":"date","topic":"","x":120,"y":620,"wires":[["f7b2e05e.f958f8","47a4278c.65ce68"]]},{"id":"fc09cc0a.74cc5","type":"ui_button","z":"a64a1dda.46493","name":"","group":"c3f194d9.93ecd8","order":5,"width":"3","height":"1","passthru":false,"label":"clear table","tooltip":"Add or update named schedule","color":"","bgcolor":"","icon":"trash","payload":"{}","payloadType":"json","topic":"","x":130,"y":580,"wires":[["a070f434.664c18"]]}]